<div class="navigation-arrows">
</div>

<div id="slides">
	<ul class="slides-container">
		<li>
			<div class="slide-item-lobby">
				<div id="lobbyBg">
					<img src="~/Images/kalendarzTloClear.png" alt="background" />
					<div class="dotted-page-overlay"></div>
					<section id="lobby">
						@Html.Partial("_Lobby")
					</section>
				</div>
				<div id="rightSideLobby" class="side"></div>
			</div>
		</li>
		<li>
			<div class="slide-item-calendar">
				<div id="leftSideCalendar" class="side">
				</div>
				<div id="calendarBg">
					<img src="~/Images/kalendarzTloClear.png" alt="background" />
					<div class="dotted-page-overlay"></div>
					<section id="calendar">

						<!-- Calendar is added dynamically (calendarWidget.js)   -->

					</section>
					@Html.Partial("_AddNewEvent")
					@Html.Partial("_HoverEvent")
				</div>
				<div id="rightSideCalendar" class="side"></div>
			</div>
		</li>
		<li>
			<div class="slide-item-details">
				<div id="detailsBg">
					<img src="~/Images/kalendarzTloClear.png" alt="background" />
					<div class="dotted-page-overlay"></div>
					<div id="details">
						@Html.Partial("_Details")
					</div>
				</div>
				<div id="leftSideDetails" class="side">
				</div>
			</div>
		</li>
	</ul>
</div>

<script type="text/javascript">

	$(function () {

		var mainProgram = {
			Initialize: function () {

				var $calendar = $("#calendar");
				var $details = $("#details");
				var $lobby = $("#lobby");
				var date = new Date();

				var calendarViewModel = new CalendarViewModel(2014, date.getMonth(), date.getDate());
				$calendar.calendarWidget(calendarViewModel.calendarPageDisplayDate);

				ko.applyBindings(calendarViewModel);

				//$(".calendar-cell").each(function (i) {
				//	if (i == 5 || i == 6 || i == 12 || i == 13 || i == 19 || i == 20 || i == 26 || i == 27 || i == 33 || i == 34 || i == 40 || i == 41) {
				//		$(this).css({
				//			"color": "rgb(255, 203, 203)"
				//		});
				//	}
				//});

				$calendar.append('<div class="calendar-navigation-arrows-left"><img src="Images/Nav/arrow-Left.png" alt="arrow-left"/></div>');
				$calendar.append('<div class="calendar-navigation-arrows-right"><img src="Images/Nav/arrow-Right.png" alt="arrow-Right"/></div>');
				$details.append('<div class="details-navigation-arrows-left"><img src="Images/Nav/arrow-Left.png" alt="arrow-Left"/></div>');
				$lobby.append('<div class="lobby-navigation-arrows-right"><img src="Images/Nav/arrow-Right.png" alt="arrow-Right"/></div>');

				this.Initialize.InitializeHover = function () {

					var $container = $(".event-hover-container");
					var $mainContainer = $("#mainContainer");

					$mainContainer.on({
						mouseenter: function () {

							var name = $(this).find("input").attr("name");
							var adress = $(this).find("input").attr("adress");
							var startHour = $(this).find("input").attr("startHour");
							var endHour = $(this).find("input").attr("endHour");

							var offset = $(this).offset();

							$container.css("left", offset.left - 100);
							$container.css("top", offset.top - 100);

							$container.find(".event-hover-name").text(name);
							$container.find(".event-hover-adress").text(adress);
							$container.find(".event-hover-startHour").text(startHour);
							$container.find(".event-hover-endHour").text(endHour);

							$container.show();
						},
						mouseleave: function () {
							$container.hide();
						}
					}, '.event-rectangle');

					$mainContainer.on({
						mouseenter: function () {
							$(this).css({
								"border-bottom": "2px solid rgb(235,235,235)",
								"border-top": "2px solid rgb(250,250,250)",
								"cursor": "pointer",
								"-moz-box-shadow": "none",
								"-webkist-box-shadow": "none",
								"box-shadow": "none",
								"top": "3px"
							}).find(".addNewEvent-cellIcon").fadeIn();
						},
						mouseleave: function () {
							$(this).css({
								"border": "2px solid white",
								"cursor": "auto",
								"-moz-box-shadow": "0px 3px 5px rgb(235,235,235)",
								"-webkist-box-shadow": "0px 3px 5px rgb(235,235,235)",
								"box-shadow": "0px 3px 5px rgb(235,235,235)",
								"top": "0"
							}).find(".addNewEvent-cellIcon").hide();
						}
					}, '.current-month-cell');

					$mainContainer.on({
						mouseenter: function () {
							$(this).css({
								"cursor": "pointer",
								//"-moz-box-shadow": "none",
								//"-webkist-box-shadow": "none",
								//"box-shadow": "none",
								"top": "3px"
							}).find(".addNewEvent-cellIcon").fadeIn();
						},
						mouseleave: function () {
							$(this).css({
								"cursor": "auto",
								//"-moz-box-shadow": "0px 3px 5px #ddd",
								//"-webkist-box-shadow": "0px 3px 5px #ddd",
								//"box-shadow": "0px 3px 5px #ddd",
								"top": "0px"
							}).find(".addNewEvent-cellIcon").fadeOut();
						}
					}, '.other-month-cell');

					$mainContainer.on({
						mouseenter: function () {
							$(this).css("background", "rgb(160, 243, 169)");
						},
						mouseleave: function () {
							$(this).css("background", "rgb(225,225,225)");
						}
					}, '.light-icon');

					$mainContainer.on({
						mouseenter: function () {
							$(this).css("background", "rgb(160, 243, 169)");
						},
						mouseleave: function () {
							$(this).css("background", "rgb(215,215,215)");
						}
					}, '.dark-icon');

					var $menuItemContainer = $(".menu-item-container");

					//$menuItemContainer.hover(function() {
					//	var $dropDown = $(this).find(".menu-item-dropdown-container");
					//	$dropDown.toggleClass("menu-dropdown-visible");

					//	if ($dropDown.hasClass("menu-dropdown-visible")) {
					//		$dropDown.slideDown();
					//	} else {
					//		$dropDown.slideUp();
					//	}

					//}, function() {
					//	var $dropDown = $(this).find(".menu-item-dropdown-container");
					//	$dropDown.toggleClass("menu-dropdown-visible");

					//	if ($dropDown.hasClass("menu-dropdown-visible")) {
					//		$dropDown.slideDown();
					//	} else {
					//		$dropDown.slideUp();
					//	}


					//});

					$mainContainer.on({
						mouseenter: function () {
							$(this).css({
								"cursor": "pointer"
							});
						},
						mouseleave: function () {
							$(this).css({
								"cursor": "auto"
							});
						}
					}, ".month-name-calendar");

					$(".menu-item").hover(function () {
						$(this).css({
							"cursor": "pointer",
							"font-size": ".9em"
						});
					}, function () {
						$(this).css({
							"cursor": "auto",
							"font-size": ".8em"
						});
					});

					$(".menu-item-dropdown").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
					});


					$("#leftSide").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
					});
					$("#rightSide").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
					});

					var $leftSideCalendar = $("#leftSideCalendar");
					var $rightSideCalendar = $("#rightSideCalendar");
					var $leftSideDetails = $("#leftSideDetails");
					var $rightSideLobby = $("#rightSideLobby");

					$leftSideCalendar.hover(function () {
						$(this).css({
							//"backgroundPosition": "left",
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							//"backgroundPosition": "right",
							"cursor": "auto"
						});
					});
					$(".calendar-navigation-arrows-left").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});

						$leftSideCalendar.css({
							//"backgroundPosition": "left"

						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
						$leftSideCalendar.css({
							//"backgroundPosition": "right"

						});
					});
					$rightSideCalendar.hover(function () {
						$(this).css({
							//"backgroundPosition": "right",
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							//"backgroundPosition": "left",
							"cursor": "auto"
						});
					});
					$(".calendar-navigation-arrows-right").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});

						$rightSideCalendar.css({
							//"backgroundPosition": "right"

						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
						$rightSideCalendar.css({
							//"backgroundPosition": "left"

						});
					});

					$(".lobby-navigation-arrows-right").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});

						$rightSideLobby.css({
							//"backgroundPosition": "right"

						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
						$rightSideLobby.css({
							//"backgroundPosition": "left"

						});
					});
					$(".details-navigation-arrows-left").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});

						$leftSideDetails.css({
							//"backgroundPosition": "left"

						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
						$leftSideDetails.css({
							//"backgroundPosition": "right"

						});
					});
					$leftSideDetails.hover(function () {
						$(this).css({
							//"backgroundPosition": "left",
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							//"backgroundPosition": "right",
							"cursor": "auto"
						});
					});
					$rightSideLobby.hover(function () {
						$(this).css({
							//"backgroundPosition": "right",
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							//"backgroundPosition": "left",
							"cursor": "auto"
						});
					});

					var $closeBtnAddEventContainer = $("#btnClose-AddEventContainer");

					$closeBtnAddEventContainer.hover(function () {
						$(this).css({
							"bottom": "0",
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"bottom": "4px",
							"cursor": "auto"
						});
					});

					$("#btnAddNewEvent").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
					});
				}();

				this.Initialize.InitializeClick = function () {


					//$(".szkolenia-btn").click(function () {
					//	$(".selected-content-container").slideUp("slow");
					//});

					//$(".menu-item-container").click(function () {

					//	$(".selected-content-container").slideDown("slow");
					//});

					//$(".moje-sprawy-text").click(function () {

					//	$("#moje-sprawy-container").slideDown();
					//});

					//$(".moje-sprawy-btn").click(function () {

					//	$("#moje-sprawy-container").slideUp();
					//});

					var $mainContainer = $("#mainContainer");

					//$mainContainer.on("click", ".calendar-cell", function (event) {
					//	window.location = "#2";
					//});

					$mainContainer.on("click", "#leftSideCalendar", function (event) {
						window.location = "#0";
					});
					$mainContainer.on("click", ".calendar-navigation-arrows-left", function (event) {
						window.location = "#0";
					});
					$mainContainer.on("click", "#rightSideCalendar", function (event) {
						window.location = "#2";
					});
					$mainContainer.on("click", ".calendar-navigation-arrows-right", function (event) {
						window.location = "#2";
					});
					$mainContainer.on("click", "#rightSideLobby", function (event) {
						window.location = "#1";
					});
					$mainContainer.on("click", ".lobby-navigation-arrows-right", function (event) {
						window.location = "#1";
					});
					$mainContainer.on("click", "#leftSideDetails", function (event) {
						window.location = "#1";
					});
					$mainContainer.on("click", ".details-navigation-arrows-left", function (event) {
						window.location = "#1";
					});

					$(".addNewEvent-cellIcon").click(function (event) {
						$(this).hide();

						var $overlay = $("#calendar").siblings(".dotted-page-overlay");
						$overlay.css("opacity", 1);
						$overlay.show();

						var txtDay = $(this).parent().find(".day").text();
						$("#hiddenDay").attr("name", txtDay);
						$("#add-new-event-container").show();

						event.stopPropagation();
					});

					$("#btnClose-AddEventContainer").click(function () {
						var $overlay = $("#calendar").siblings(".dotted-page-overlay");
						$overlay.fadeOut();
						$("#add-new-event-container").hide();
					});
				}();
			}
		};

		mainProgram.Initialize();

	});

</script>
