@model KalendarzKarieryData.Models.ViewModels.RegisterViewModel

<section id="settingsContainer">
	<div class="title-header">
		<span>/Ustawienia/</span>
	</div>

	@if (User.Identity.IsAuthenticated)
 {
		@Html.Partial("_DetailsUserProfile", @Model)
 }


</section>
