@model KalendarzKarieryData.Models.ViewModels.RegisterViewModel

<section class="dz-row journal-part">
	<header class="section-title">Dziennik</header>
	@Html.Partial( "_JournalPart" )
</section>

<section class="dz-row day-plan-part">
	<header class="section-title">Plan dnia</header>
	@Html.Partial("_DayPlanPart");
</section>

<section class="dz-row">
	@Html.Partial( "_DetailsSettings", @Model )
</section>


