<div id="detailsEventBlockList">
	<div data-bind="foreach: detailsPageDayEvents()">
		<div class="event-block-container" data-bind="attr: { 'data-eventid': id }">
			<div class="event-block hover-cursor-pointer" data-bind="click: function () { $root.showEventDetailsOnEventBlockClick( $element ) }">
				<div data-bind="style: { color: kind.headerColor, width: '50%', padding: '10px', marginBottom: '10px' }">
					<span data-bind="text: kind.name"></span>
				</div>
				<div class="event-block-body">
					<div><span data-bind="text: name, style: { fontSize: '2em', lineHeight: '1', paddingBottom: '4px' } "></span></div>
					<div style="font-size: 1.4em; color: rgb(192, 187, 172);"><span>godzina: </span><span data-bind="text: startDate.formatZero(startDate.startHour)"></span><span>:</span><span data-bind="	text: startDate.formatZero(startDate.startMinute)"></span><span style="padding:0 4px;"> - </span>
					<span data-bind="text: startDate.formatZero(startDate.endHour)"></span><span>:</span><span data-bind="	text: startDate.formatZero(startDate.endMinute)"></span></div>
					<div data-bind="if: address.street">
					<span>adres: </span><span data-bind="text: address.street"></span><span>, </span><span data-bind="	text: address.city"></span>
					</div>
				</div>
				<div class="event-block-footer">
				</div>
			</div>
			@Html.Partial("_EventInfo")
		</div>
	</div>
</div>





