<div class="details-day-table-head">
  <div>7<span class="small-minutes">00</span></div>
  <div>8<span class="small-minutes">00</span></div>
  <div>9<span class="small-minutes">00</span></div>
  <div>10<span class="small-minutes">00</span></div>
  <div>11<span class="small-minutes">00</span></div>
  <div>12<span class="small-minutes">00</span></div>
  <div>13<span class="small-minutes">00</span></div>
  <div>14<span class="small-minutes">00</span></div>
  <div>15<span class="small-minutes">00</span></div>
  <div>16<span class="small-minutes">00</span></div>
  <div>17<span class="small-minutes">00</span></div>
  <div>18<span class="small-minutes">00</span></div>
  <div>19<span class="small-minutes">00</span></div>
  <div>20<span class="small-minutes">00</span></div>
  <div style="position: absolute; right: 30px; width: 12px;"><span>21</span><span class="small-minutes">00</span></div>
</div>
<div class="details-day-table-body">
  <div class="details-day-table-cell hour-cell-7">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-8">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-9">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-10">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-11">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-12">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-13">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-14">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-15">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-16">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-17">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-18">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-19">
    <div class="hour-line"></div>
  </div>

  <div class="details-day-table-cell hour-cell-20">
    <div class="hour-line"></div>
    <div class="hour-line-21"></div>
  </div>
</div>