<div class="details-eventblock-info-container" style="display: none;">
	<div class="details-eventblock-info">
		<div>
			<span data-bind="text: name, style: { fontSize: '1.6em', lineHeight: '1', paddingBottom: '4px', color: 'rgb(159, 138, 255)' } "></span>
		</div>
		<div>
			<span data-bind="text: description"></span>
		</div>
		<div>
			<span data-bind="text: details"></span>
		</div>
		<div>
			link:
	<span data-bind="text: urlLink"></span>
		</div>
		<div>godzina: <span data-bind="text: startDate.startHour"></span><span>: </span><span data-bind="	text: startDate.startMinute"></span><span data-bind="	text: startDate.endHour"></span><span>: </span><span data-bind="	text: startDate.endMinute"></span></div>
		<div>data: <span data-bind="text: startDate.day"></span><span>/</span><span data-bind="	text: startDate.month"></span><span>/</span><span data-bind="	text: startDate.year"></span></div>
		<div>adres: <span data-bind="text: address.street"></span><span>, </span><span data-bind="	text: address.zipCode"></span><span></span><span data-bind="	text: address.city"></span></div>
	</div>
	<div class="details-eventblock-info-footer">
		<div style="float: right; margin-right: 10px;">
			<div class="link details-delete-event-link" data-bind="click: function () { $root.prepareDeleteEventDetailsPageOnDeleteLinkClick(id, startDate.year, startDate.month, startDate.day) }"><span>usuń</span></div>
		</div>
	</div>
</div>


