<div class="display-events-overview-body" data-bind="visible: $root.detailsPageJournalMenu.selectedMenuItem() == 1">
	<div class="legend-oldorupcoming" data-bind="click: function () { $root.detailsPageJournalMenu.menuItems.myCalendar.showOld( !$root.detailsPageJournalMenu.menuItems.myCalendar.showOld() ), $root.showSelectedEvents( $root.detailsPageJournalMenu.menuItems.myCalendar.selectedEvents, 'old', $root.detailsPageJournalMenu.selectedEventKindValues ) }">
		<div style="position: absolute; left: 0;">
			<span data-bind="text:$root.detailsPageJournalMenu.menuItems.myCalendar.showOld() == true ? '-' : '+'" style="color: #99B799;">+</span>
			<span>stare</span>
		</div>
		<span style="font-size: 14px; position: relative; right: 100px;" data-bind="text: $root.detailsPageJournalMenu.menuItems.myCalendar.showOld() == true ? '[zwiń]' : '[rozwiń]'"></span>
		<span class="oldorupcoming-event-count" data-bind="text: $root.detailsPageJournalMenu.menuItems.myCalendar.selectedEvents.old().length > 0 ? $root.detailsPageJournalMenu.menuItems.myCalendar.selectedEvents.old().length : ''"></span>
	</div>
	<div data-bind="visible: $root.detailsPageJournalMenu.menuItems.myCalendar.showOld, foreach: $root.detailsPageJournalMenu.menuItems.myCalendar.selectedEvents.old" style="padding-left: 100px; padding-right: 6px;">
		<div class="display-events-overview-item">
			<div data-bind="click: function () { $root.expandEventOverviewItemOnClick( $element ) }">
				<div class="list-item-star" data-bind="if: privacyLevel.value === $root.eventPrivacyLevels['public']">
					<img src="~/Images/Icons/star.png" alt="public event star" />
				</div>
				<div class="list-item-title" data-bind="text: name"></div>
				<div class="list-item-other" data-bind="text: startDate.displayFullDate()"></div>
				<div class="list-item-other" data-bind="text: startDate.displayFullTime()"></div>
				<div class="event-kind-tag" data-bind="text: kind.name, style: { color: kind.headerColor }"></div>
			</div>
			<div style="display: none;" class="event-block-container" data-bind="attr: { 'data-eventid': id }">
				<div class="event-block">
					@Html.Partial("_LobbyEventDetails")
				</div>
			</div>
		</div>
	</div>
	<div class="legend-oldorupcoming" data-bind="click: function () { $root.detailsPageJournalMenu.menuItems.myCalendar.showUpcoming( !$root.detailsPageJournalMenu.menuItems.myCalendar.showUpcoming() ), $root.showSelectedEvents( $root.detailsPageJournalMenu.menuItems.myCalendar.selectedEvents, 'upcoming', $root.detailsPageJournalMenu.selectedEventKindValues ) }">
		<div style="position: absolute; left: 0;">
			<span data-bind="text: $root.detailsPageJournalMenu.menuItems.myCalendar.showUpcoming() == true ? '-' : '+'" style="color: #99B799;">-</span>
			<span>nadchodzące</span>
		</div>
		<span style="font-size: 14px; position: relative; right: 100px;" data-bind="text: $root.detailsPageJournalMenu.menuItems.myCalendar.showUpcoming() == true ? '[zwiń]' : '[rozwiń]'">rozwin</span>
		<span class="oldorupcoming-event-count" data-bind="text: $root.detailsPageJournalMenu.menuItems.myCalendar.selectedEvents.upcoming().length > 0 ? $root.detailsPageJournalMenu.menuItems.myCalendar.selectedEvents.upcoming().length : ''"></span>
	</div>
	<div data-bind="visible: $root.detailsPageJournalMenu.menuItems.myCalendar.showUpcoming, foreach: $root.detailsPageJournalMenu.menuItems.myCalendar.selectedEvents.upcoming" style="padding-left: 100px; padding-right: 6px;">
		<div class="display-events-overview-item">
			<div data-bind="click: function () { $root.expandEventOverviewItemOnClick( $element ) }">
				<div class="list-item-star" data-bind="if: privacyLevel.value === $root.eventPrivacyLevels['public']">
					<img src="~/Images/Icons/star.png" alt="public event star" />
				</div>
				<div class="list-item-title" data-bind="text: name"></div>
				<div class="list-item-other" data-bind="text: startDate.displayFullDate()"></div>
				<div class="list-item-other" data-bind="text: startDate.displayFullTime()"></div>
				<div class="event-kind-tag" data-bind="text: kind.name, style: { color: kind.headerColor }"></div>
			</div>
			<div style="display: none;" class="event-block-container" data-bind="attr: { 'data-eventid': id }">
				<div class="event-block">
					@Html.Partial("_LobbyEventDetails")
				</div>
			</div>
		</div>
	</div>
</div>
