<div style="width: 47%; margin-left: 3%; display: inline-block;">
	<div id="detailsEventBlockList" data-bind="foreach: detailsPageDayEvents()">
		@Html.Partial( "_DetailsEventInfo" )
	</div>
</div>


@Html.Partial( "_DetailsNotesSummary" )









