<div id="detailsMenuHeader" class="dark-background-div">
	<div style="position: relative; top: 8px;">
		/Moje sprawy/
	</div>

</div>
<section id="detailsPanel">
	<div id="todayDateAndTimeContainer">
		<div id="todayDateDay" data-bind="text: $root.todayDate.day"></div>
		<div style="display: inline-block;">
			<div id="todayDateMonth" data-bind="text: $root.todayDate.getMonthName()"></div>
			<div id="todayDateYear" data-bind="text: $root.todayDate.year"></div>
		</div>
		<div id="todayDateDayName" data-bind="text: $root.todayDate.getDayName()"></div>
	</div>

	<div class="events-menu-container">
		<div class="menu-item-container">
			<div class="border-item wydarzenia-border-tab"></div>
			<div class="menu-item" name="wydarzenia">
				<span>Wydarzenia</span>
			</div>
			<div class="menu-item-number-container">
				<div class="menu-item-number-upcoming">10</div>
				<div class="menu-item-number-old">78</div>
			</div>
		</div>

		<div class="menu-item-container">
			<div class="border-item lekcje-border-tab"></div>
			<div class="menu-item" name="lekcje">
				<span>Lekcje</span>

			</div>
			<div class="menu-item-number-container">
				<div class="menu-item-number-upcoming">10</div>
				<div class="menu-item-number-old">78</div>
			</div>
		</div>

		<div class="menu-item-container">
			<div class="border-item zajecia-border-tab"></div>
			<div class="menu-item" name="zajęcia">
				<span>Zajęcia</span>
			</div>
			<div class="menu-item-number-container">
				<div class="menu-item-number-upcoming">10</div>
				<div class="menu-item-number-old">78</div>
			</div>
		</div>

		<div class="menu-item-container">
			<div class="border-item szkolenia-border-tab"></div>
			<div class="menu-item" name="szkolenia">
				<span>Szkolenia</span>

			</div>
			<div class="menu-item-number-container">
				<div class="menu-item-number-upcoming">10</div>
				<div class="menu-item-number-old">78</div>
			</div>
		</div>

		<div class="menu-item-container">
			<div class="border-item kursy-border-tab"></div>
			<div class="menu-item" name="kursy">
				<span>Kursy</span>

			</div>
			<div class="menu-item-number-container">
				<div class="menu-item-number-upcoming">10</div>
				<div class="menu-item-number-old">78</div>
			</div>
		</div>

		<div class="menu-item-container">
			<div class="border-item spotkania-border-tab"></div>
			<div class="menu-item" name="spotkania">
				<span>Spotkania</span>

			</div>
			<div class="menu-item-number-container">
				<div class="menu-item-number-upcoming">10</div>
				<div class="menu-item-number-old">78</div>
			</div>
		</div>

		<div class="menu-item-container">
			<div class="border-item inne-border-tab"></div>
			<div class="menu-item" name="inne">
				<span>Inne</span>

			</div>
			<div class="menu-item-number-container">
				<div class="menu-item-number-upcoming">10</div>
				<div class="menu-item-number-old">78</div>
			</div>
		</div>
	</div>

</section>
<div id="lowDetailsMenuHeader" class="dark-background-div">
	<span style="margin-left: 6px; color: white;">/Szczegóły dnia/</span>
	<span>wydarzenia z dnia: </span>
	<span data-bind="text: $root.detailsPageDisplayDate.day()"></span>
	<span data-bind="text: $root.detailsPageDisplayDate.getMonthName()"></span>
	<span data-bind="text: $root.detailsPageDisplayDate.year()"></span>
</div>
<section id="calendarDayDetailsContainer">
	<div id="calendarDayDetailsTable">
		<div class="table-details-head">
			<div>7<span class="small-minutes">00</span></div>
			<div>8<span class="small-minutes">00</span></div>
			<div>9<span class="small-minutes">00</span></div>
			<div>10<span class="small-minutes">00</span></div>
			<div>11<span class="small-minutes">00</span></div>
			<div>12<span class="small-minutes">00</span></div>
			<div>13<span class="small-minutes">00</span></div>
			<div>14<span class="small-minutes">00</span></div>
			<div>15<span class="small-minutes">00</span></div>
			<div>16<span class="small-minutes">00</span></div>
			<div>17<span class="small-minutes">00</span></div>
			<div>18<span class="small-minutes">00</span></div>
			<div>19<span class="small-minutes">00</span></div>
			<div>20<span class="small-minutes">00</span></div>
			<div style="position: absolute; right: 0; width: 26px;"><span>21</span><span class="small-minutes">00</span></div>
		</div>
		<div style="width: 100%; height: 2px; border-top: 1px solid rgb(192,192,192); border-bottom: 1px solid rgb(244,244,244); background: rgba(0,0,0,.1);"></div>
		<div class="table-details-body">
			<div class="details-day-cell hour-cell-7">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-8">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-9">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-10">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-11">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-12">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-13">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-14">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-15">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-16">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-17">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-18">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-19">
				<div class="details-hour-line"></div>
			</div>

			<div class="details-day-cell hour-cell-20">
				<div class="details-hour-line"></div>
			</div>

		</div>

	</div>
</section>


@Html.Partial("_DetailsEventSummary")

<div style="height: 200px; width: 50%; margin-top: 100px">
</div>
