<div style="width: 47%; margin-left: 3%; display: inline-block;">
	<div style="font-size: 1.6em; padding: 16px; padding-bottom: 6px; color: rgb(171, 157, 138); border-bottom:2px solid rgb(245, 242, 231); margin-bottom: 20px;">
		Wydarzenia
	</div>
	<div data-bind="foreach: detailsPageDayEvents()">
		<div class="details-event-block-container event-shadow-box" data-bind="attr: { 'data-eventid': id }">
			<div class="details-event-block hover-cursor-pointer" data-bind="click: function () { $root.showEventDetailsOnEventBlockClick( $element ) }">
				<div class="event-kind-tag" style="float: right; text-align: center;" data-bind="style: { color: kind.headerColor }">
					<span data-bind="text: kind.name"></span>
				</div>
				<div class="details-event-block-body">
					<div style="color: white; font-size: 2em; position: relative; top: -6px;"><span data-bind="text: name"></span></div>
				</div>
				<div class="details-event-block-footer">
				</div>
			</div>
			@Html.Partial( "_DetailsEventInfo" )
		</div>
	</div>
</div>


@Html.Partial( "_DetailsNotesSummary" )









