<section id="detailsEventBlockList">
	<div style="overflow: hidden; width: 98%; border-top: none; margin: 0 auto;" data-bind="foreach: detailsPageDayEvents()">
		<div class="event-block-container">
		<span style="display:none;" class="hidden-event-id" data-bind="text: id"></span>
			<div class="event-block hover-cursor-pointer" data-bind="click: function () { $root.showEventDetailsOnEventBlockClick( $element ) }">
				<div data-bind="style: { color: kind.headerColor, background: 'rgb(184, 168, 137)', border: '1px solid rgb(223, 209, 192)', width: '50%', boxShadow:'inset 2px 2px 10px -1px rgb(143, 125, 107)', padding: '10px', marginBottom: '10px' }">
					<span data-bind="text: kind.name"></span>
				</div>
				<div class="event-block-content">
					<div><span data-bind="text: name, style: { fontSize: '1.6em', lineHeight: '1', paddingBottom: '4px' } "></span></div>
					<div style="font-size: 1.4em;"><span>godzina: </span><span data-bind="text: startDate.formatZero(startDate.startHour)"></span><span>:</span><span data-bind="	text: startDate.formatZero(startDate.startMinute)"></span><span style="padding:0 4px;"> - </span>
					<span data-bind="text: startDate.formatZero(startDate.endHour)"></span><span>:</span><span data-bind="	text: startDate.formatZero(startDate.endMinute)"></span></div>
					<div data-bind="if: address.street">
					<span>adres: </span><span data-bind="text: address.street"></span><span>, </span><span data-bind="	text: address.city"></span>
					</div>
				</div>
				<div class="event-block-footer">
				</div>
			</div>
			@Html.Partial("_EventInfo")
		</div>
	</div>

</section>





