html {
	padding: 0px;
	margin: 0px;
}

body {
	font-size: .85em;
	line-height:1.6;
	font-family: 'Oxygen',"Segoe UI", Verdana, Helvetica, Sans-Serif;
	padding: 0px;
	margin: 0px;
	font-weight:400;
}

header, footer, nav, section, div {
	display: block;
	margin: 0;
}

/* Kalendarz Kariery
-----------------------------------------------------------*/
.dottedWrapper {
	background: url(../img/point3.png) repeat scroll 0 0 transparent;
	height: 100%;
	width: 100%;
	z-index: 0;
	position: absolute;
}

body header {
}

/*calendar css*/
#calendar {
	margin: auto;
	position: relative;
	width: 100%;
	height: 100%;
	color: rgb(177,177,177);
	display: table;
	table-layout: fixed;
	border-spacing: 1px;
	margin-top:20px;
}

#calendarBg {
	position: relative;
	width: 80%;
	left: 10%;
}


#details {
	width: 100%;
}

#detailsBg {
	position: relative;
	width: 90%;
	left: 10%;
}


#lobby {
	margin: auto;
	position: relative;
	width: 100%;
	color: rgb(31, 22, 22);
}

.lobby-content-container {
}

#lobbyBg {
	background: white;
	position: relative;
	width: 90%;
	left: 0px;
}

#lobby-logo {
	background-image: url(../Images/kalendarzGray3.png);
	font-size: 1em;
	width: 680px;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
}

.calendar-navigation-arrows-left {
	left: -9%;
	position: absolute;
	top: 50%;
	width: 50px;
	z-index: 2;
}

	.calendar-navigation-arrows-left img {
		position: static !important;
		width: 100% !important;
	}

.calendar-navigation-arrows-right {
	right: -9%;
	position: absolute;
	top: 50%;
	width: 50px;
	z-index: 2;
}

	.calendar-navigation-arrows-right img {
		position: static !important;
		width: 100% !important;
	}

.lobby-navigation-arrows-right {
	right: -8%;
	position: absolute;
	top: 200px;
	width: 50px;
	z-index: 2;
}

	.lobby-navigation-arrows-right img {
		position: static !important;
		width: 100% !important;
	}

.details-navigation-arrows-left {
	left: -8%;
	position: absolute;
	top: 300px;
	width: 50px;
	z-index: 2;
}

	.details-navigation-arrows-left img {
		position: static !important;
		width: 100% !important;
	}

.calendar-hours {
	width: 100%;
	height: 14px;
	display: table-cell;
	overflow: hidden;
	background:white;
	color:rgb(204,204,204);
	position:relative;
}

.hour {
	font-size: 10px;
	position:absolute;
}

#calendar-menu-header {
	display: table-caption;
	text-align: center;
	
	height: 60px;
	color:white;
	border-left:1px solid #D8D8D8;
	background:rgb(250,250,250);
	border-bottom:1px solid white;
	border-top:1px solid #D8D8D8;

	/*border-left:2px solid #313131;
	border-right:2px solid #313131;*/
}

.site-menu-header {
	text-align: center;
	margin-top: 20px;
	min-height: 132px;
	position: relative;
	background:rgb(37, 37, 37);
	border-right:2px solid #313131;
	border-top: 1px solid rgb(221,221,221);
	/*border-bottom:1px solid rgb(221,221,221);*/
}

.weekday-container {
	display: table-row;
}

.weekday {
	/*border: 2px solid white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	display: table-cell;
	text-align: center;
	background:white;
	/*background: rgba(255,255,255,.5);*/
}

	.weekday:nth-child(6) {
		border: 2px solid rgb(255, 157, 157);
	}

	.weekday:nth-child(7) {
		border: 2px solid rgb(255, 157, 157);
	}

.calendar-cell {
	height: 80px;
	display: table-cell;
	/*overflow: hidden;*/
	position: relative;
}

.calendar-row {
	/*
	height: 84px;
*/
	width: 100%;
	margin: auto;
	display: table-row;
	position: relative;
}

.current-month {
	border: 2px solid white;
	background-color: rgb(253,253,253);
	box-shadow:rgb(235, 235, 235) 0px 3px 5px;
	color: black;
}

	.current-month span {
		color: rgb(177,177,177);
		position: absolute;
		padding-left: 2px;
		padding-right: 5px;
		top: 60px;
	}

.other-month {
	border: 2px solid #ddd;
	background-color: #eee;
	position: relative;
}

	.other-month span {
		position: absolute;
		padding-left: 2px;
		padding-right: 5px;
		top: 60px;
	}

.side {
	width: 10%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0px;
	position: absolute;
}


#leftSideCalendar {
	/*background-image: url("../Images/kalendarzTloLewy.png");
	background-position:right top;*/
	/*background: rgb(37, 37, 37);*/
	left: 0px;
	/*border-right:1px solid #151718;*/
	/*z-index:2;*/
	border-right:1px solid #D8D8D8;
}

#rightSideCalendar {
	/*background-image: url("../Images/kalendarzTloPrawo.png");
	background-position: left top;*/
	/*background: rgb(37, 37, 37);*/
	right: 0px;
	border-left:1px solid #D8D8D8;
	/*border-left:1px solid #151718;*/
}

#leftSideDetails {
	/*background-image: url("../Images/kalendarzTloLewy.png");
	background-position: right top;*/
	background: rgb(37, 37, 37);
	left: 0px;
}

#rightSideLobby {
	/*background-image: url("../Images/kalendarzTloPrawo.png");
	background-position: left top;*/
	right: 0px;
	height:3000px;
	background: rgb(37, 37, 37);
	border-left: 1px solid #151718;
}


#mainContainer {
	word-spacing: 0px;
	letter-spacing: 0px;
}

.menu-item {
	border-top: 2px solid rgb(233, 233, 233);
	/*background: rgb(252, 252, 252);*/
	/*box-shadow:4px 2px 8px rgb(94, 94, 94);*/
	height: 30px;
	color: rgb(151, 151, 151);
	font-size: 0.8em;
}

	.menu-item span {
		position: relative;
		top: 10px;
	}

.menu-item-container {
	margin: 2px;
	margin-right:3px;
	position: relative;
	/*top:-10px;*/
	float: right;
}

.triangle-header {
	width: 40px;
	border-right: 10px solid transparent;
	height: 20px;
	border-top: 10px solid #ddd;
	float: right;
	position: absolute;
}

.selected {
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(112, 112, 112);
}

.border-item {
	width: 95px;
	/*
		border-color: rgb(202, 255, 208);
	*/
}

#add-new-event-container {
	top: 10.5%;
	position: absolute;
	z-index: 10;
	background: rgb(58, 58, 58);
	opacity: .9;
	z-index: 4;
	width: 100% !important;
	display: none;
}

.close-btn {
	width: 20%;
	float: right;
	border-top: 60px solid rgb(233, 233, 233);
	border-left: 40px solid transparent;
	position: relative;
	top: 8px;
	right: 6px;
}

.close-text {
	position: absolute;
	color: rgb(117, 117, 117);
	font-size: 1.4em;
	right: 4px;
	padding: 10px;
	padding-right: 20px;
	opacity: .9;
}

.border-close-text {
	position: absolute;
	right: 4px;
	top: 4px;
	width: 10%;
	border-top: 40px solid white;
	border-left: 28px solid transparent;
}

.add-event-body {
	height: auto;
	color: rgb(216, 216, 216);
	margin-top: 80px;
}

.add-event-fieldset label {
	width: 150px;
	display: inline-block;
}

.add-event-fieldset div {
	padding: 5px;
	margin-bottom: 5px;
}

.add-event-form-container {
	width: 600px;
}

#btnAddNewEvent {
	font-size: 2em;
	color: rgb(152, 255, 163);
	padding-left: 20px;
	padding-right: 20px;
	background: rgb(27,27,27);
	border: 1px solid gray;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.light-icon {
	color: white;
	background: rgb(225,225,225);
}

.dark-icon {
	/*
background:rgb(115, 233, 162);
*/
	background: rgb(215,215,215);
	color: white;
}

.addNewEvent-cellIcon {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 58px;
	text-align: center;
	margin-right: 2px;
	border-radius: 10px;
	display: none;
	z-index: 10;
}

.title-label {
	width: 100% !important;
}


.cell-line-style {
	position: absolute;
	width: 1px;
	opacity: .1;
	background: gray;
}

.event-rectangle {
	color: black;
	overflow: hidden;
	position: absolute;
	height: 16px;
	z-index: 2;
	display: none;
	border-radius: 8px;
	border: 2px solid;
	/*background: rgba(255,255,255,.9);*/
}

.event-hover-container {
	display: none;
	position: absolute;
	background: white;
	z-index: 100;
	padding: 20px;
}

.lobby-content-body {
}

	.lobby-content-body .title-header {
		color: rgb(160, 160, 160);
	}

.title-header {
text-align: center;
font-size: 2em;
padding: 10px;
background: rgb(37, 37, 37);
border-top: 1px solid #313131;
border-right: 2px solid #313131;
	/*background: rgb(236, 236, 236);*/
}

.moje-sprawy-text {
	color: gray;
	margin-right: 10px;
}

.moje-sprawy-container {
	margin-bottom: 20px;
}

#moje-sprawy-container {
	display: none;
}

.selected-content-container {
	display: none;
	margin-bottom: 50px;
	border: 1px solid whitesmoke;
}

.news-event-details {
	padding: 10px 0;
	text-align: center;
	overflow: hidden;
	position: relative;
	border-top: 1px solid #DADADA;  
	/*background: rgb(32, 32, 32);*/
	background:rgb(240, 240, 223);
border-bottom: 1px solid white;
	/*background-image: url("../Images/kalendarzTlo.png");*/
}

.left-event-details {
	float: left;
	width: 25%;
	vertical-align: top;
	position: relative;
}

.middle-event-details {
	float: left;
	width: 50%;
	position: relative;
	padding: 20px;
	color: rgb(109,109,109);
	/*background:rgb(76, 86, 94);*/
	/*box-shadow:0 1px 5px rgb(60,60,60);*/
	/*border:1px solid rgb(207, 207, 207);*/
	/*background:rgb(221,221,221);
	box-shadow:inset 0 4px 10px rgb(202, 202, 202);*/
}

.right-event-details {
	float: left;
	width: 24%;
}

.lobby-profile-menu {
	width: 100%;
color: whitesmoke;
font-size: 1em;
padding: 10px 0;
overflow: hidden;
background: rgb(32,32,32);
border-top: 1px solid rgb(24,24,24);
border-bottom: 1px solid rgb(24,24,24);
}

	.lobby-profile-menu div {
		display: inline-block;
		float: right;
		margin-left: 10px;
	}

.event-list-date-header {
	text-align: center;
	color: rgb(114,114,114);
background: rgb(32, 32, 32);
border-top: 1px solid rgb(24, 24, 24);
}

.events-text-container {
	text-align: left;
}

.events-text-name {
	font-size: 1.2em;
	font-weight:bold;
}

.event-title-container a{
	color:rgb(104,104,104);
}


.lobby-footer {
	text-align: center;
}

.margin-left-fifteen {
	margin-left: 15px;
}

.padding-top-ten {
	padding-top: 10px;
}

.event-list {
	width: 100%;
	/*
background: rgba(40,40,40,0.2);
*/
	/*-webkit-box-shadow: inset 0 3px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 3px 10px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 3px 10px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 3px 10px rgba(0,0,0,0.3);*/
	/*box-shadow: inset 0 1px 1px white;*/
	color: gray;
	font-size: 1em;
	overflow: hidden;
	/*background: rgb(241,241,241);*/
}

.login-text {
	margin-right: 15px;
	color: rgb(124, 124, 124);
}

.event-kind-text {
	color: rgb(240,240,240);
	width: 100px;
	padding: 20px;
	/*box-shadow: 0 2px 10px rgb(60, 60, 60);*/
	border:1px solid whitesmoke;
	margin-left: 15px;
	margin-top: 10px;
}

.event-title-container {
	padding: 10px 0px;
	margin-bottom: 10px;
}

.events-text-author-container {
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: .8em;
}

.szkolenia-tab {
}

.kursy-tab {
}

spotkania-tab {
}

wydarzenia-tab {
}

.inne-tab {
}

.zajecia {
}

.szkolenia-border-tab {
	border-bottom: 10px solid rgb(87, 167, 221);
}

.kursy-border-tab {
	border-bottom: 10px solid rgb(145, 145, 145);
}

.spotkania-border-tab {
	border-bottom: 10px solid rgb(255, 182, 215);
}

.wydarzenia-border-tab {
	border-bottom: 10px solid rgb(255, 255, 132);
}

.inne-border-tab {
	border-bottom: 10px solid rgb(250, 84, 84);
}

.zajecia-border-tab {
	border-bottom: 10px solid rgb(187, 255, 241);
}

.slide-item-details {
	margin-top: 60px;
}


#calendarDayDetailsTable {
	width: 90%;
	margin: 0 auto;
	table-layout: fixed;
	color:gray;
}

#calendarDayDetailsTable tbody tr{
	height:300px;
}

#calendarDayDetailsTable tbody tr td{
	border-color:rgb(243,243,243);
}

	#calendarDayDetailsTable td {
		border: 1px solid #ddd;
		text-align:center;
	}

.month-nav-container {
display:inline-block;

}
.month-nav-container div{
display:inline-block;
padding:2px;
color:orange;
font-size:1.5em;
}

.month-name-calendar {
margin:0 20px;
font-size:2em;
color:gray;
font-weight:bold;
}

































/*
Slider
*/

#slides {
	position: relative;
}

	#slides .slides-container {
		display: none;
	}

	#slides .scrollable {
		*zoom: 1;
		position: relative;
		top: 0;
		left: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

		#slides .scrollable:after {
			content: "";
			display: table;
			clear: both;
		}

.slides-pagination {
	position: absolute;
	z-index: 3;
	top: 0;
	text-align: center;
	width: 100%;
}

	.slides-pagination a {
		border: 2px solid rgb(221,221,221);
		border-radius: 15px;
		width: 10px;
		height: 10px;
		display: inline-block;
		margin: 2px;
		background: #F0EDE7;
	}

		.slides-pagination a.current {
			background: rgb(208, 255, 227);
		}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid transparent;
	padding: 1.4em;
	margin: 0 0 1.5em 0;
	width: auto;
}


legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}

a {
	color: white;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}
