html {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    padding: 0px;
    margin: 0px;
    /*

background-image: url("../Images/kalendBackground.png");
*/
}

header, footer, nav, section, div {
    display: block;
    margin: 0;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Kalendarz Kariery
-----------------------------------------------------------*/
body header {
}

#bodyContainer {
position:relative;
}

/*calendar css*/
#calendar {
    margin: auto;
    position: relative;
    width: 90%;
    height: 500px;
    color: rgb(177,177,177);
    display: table;
    table-layout: fixed;
    border-spacing: 2px;
}

#current-month-header {
    font-weight: bold;
    font-size: 2em;
    display: table-caption;
    padding: 20px;
    padding-left: 0px;
}

.weekday-container {
    display: table-row;
}

.weekday {
    border: 2px solid rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: table-cell;
    text-align: center;
}

    .weekday:nth-child(6) {
        border: 2px solid rgb(255, 157, 157);
    }

    .weekday:nth-child(7) {
        border: 2px solid rgb(255, 157, 157);
    }

.calendar-cell {
    height: 80px;
    display: table-cell;
    overflow: hidden;
    position: relative;
}

.calendar-row {
    width: 100%;
    height: 84px;
    margin: auto;
    display: table-row;
    position: relative;
}

.current-month {
    border: 2px solid rgb(235,235,235);
    background-color: rgba(255,255,255,.9);
    -moz-box-shadow: 0px 3px 5px rgb(235,235,235);
    -webkist-box-shadow: 0px 3px 5px rgb(235,235,235);
    box-shadow: 0px 3px 5px rgb(235,235,235);
}

    .current-month span {
        color: rgb(177,177,177);
        position: absolute;
        padding-left: 2px;
        padding-right: 5px;
        top: 60px;
    }

.other-month {
    border: 2px solid #ddd;
    background-color: #eee;
    position: relative;
    -moz-box-shadow: 0px 3px 5px #ddd;
    -webkist-box-shadow: 0px 3px 5px #ddd;
    box-shadow: 0px 3px 5px #ddd;
}

    .other-month span {
        position: absolute;
        padding-left: 2px;
        padding-right: 5px;
        top: 60px;
    }

#calendarBg {
    position: relative;
    width: 80%;
    left: 10%;
}

    #calendarBg img {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        position: absolute;
    }

#leftSide {
    width: 9.999%;
    height: 100%;
    background-image: url("../Images/kalendarzTloLewy.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    top: 0px;
    left: 0px;
    position: absolute;
}

#rightSide {
    width: 10%;
    height: 100%;
    background-image: url("../Images/kalendarzTloPrawo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    right: 0px;
    top: 0px;
    position: absolute;
}

#mainContainer {
    word-spacing: 0px;
    letter-spacing: 0px;
}

/*
slider
*/
.contentslider {
  position:relative;
  display:block;
  width:100%;
  height:100%;
  margin:0 auto;
  overflow:hidden;
}
.cs_wrapper {
  position:relative;
  display:block;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
}
.cs_slider {
  position:absolute;
  width:10000px;
  height:100%;
  margin:0;
  padding:0;
}
.cs_article {
  float:left;
  position:relative;
  top:0;
  left:0;
  display:block;
  width:100%;
  height:100%;
  margin:0 auto;
  padding:0;
}

.cs_leftBtn, .cs_rightBtn {
  position:absolute;
  top:0;
  height:400px;
  padding:10px 0;
  z-index:10000;
}
.cs_leftBtn {
  left:0;
  outline:0;
}
.cs_rightBtn {
  right:0;
  outline:0;
}
.cs_leftBtn img, .cs_rightBtn img {
  border:0;
  position:relative;
  top:200px;
  margin:0;
}

.contentslider {
  padding:10px; /* This acts as a border for the content slider */
  background:#333; /* This is the color of said border */
}
.cs_wrapper, .cs_article {
  background:#FFF; /* Background color for the entries */
}
.cs_leftBtn, .cs_rightBtn {
  width:30px; /* Should be as wide as the button graphic being used */
  background:#333; /* This will probably match the contentslider bg color */
}