html {
	padding: 0px;
	margin: 0px;
}

body {
	font-size: .85em;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	padding: 0px;
	margin: 0px;
}

header, footer, nav, section, div {
	display: block;
	margin: 0;
}

/* Kalendarz Kariery
-----------------------------------------------------------*/
body header {
}

/*calendar css*/
#calendar {
	margin: auto;
	position: relative;
	width: 100%;
	height: 100%;
	color: rgb(177,177,177);
	display: table;
	table-layout: fixed;
	border-spacing: 2px;
}

#calendarBg {
	position: relative;
	width: 80%;
	left: 10%;
}


#details {
	margin: auto;
	position: relative;
	width: 100%;
	height: 600px;
	color: rgb(177,177,177);
}

#detailsBg {
	position: relative;
	width: 90%;
	left: 10%;
}


#lobby {
	margin: auto;
	position: relative;
	width: 100%;
	color: rgb(177,177,177);
	height:600px;
}

.lobby-content-container {

}

#lobbyBg {
	position: relative;
	width: 90%;
	left: 0px;
}

#lobby-logo {

padding:20px;
border:1px solid white;
background:rgb(202, 255, 208);
font-size:2em;
width:300px;
}

.calendar-navigation-arrows-left {
	left: -9%;
	position: absolute;
	top: 50%;
	width: 50px;
	z-index: 2;
}

	.calendar-navigation-arrows-left img {
		position: static !important;
		width: 100% !important;
	}

.calendar-navigation-arrows-right {
	right: -9%;
	position: absolute;
	top: 50%;
	width: 50px;
	z-index: 2;
}

	.calendar-navigation-arrows-right img {
		position: static !important;
		width: 100% !important;
	}

.lobby-navigation-arrows-right {
	right: -8%;
	position: absolute;
	top: 50%;
	width: 50px;
	z-index: 2;
}

	.lobby-navigation-arrows-right img {
		position: static !important;
		width: 100% !important;
	}

.details-navigation-arrows-left {
	left: -8%;
	position: absolute;
	top: 300px;
	width: 50px;
	z-index: 2;
}

	.details-navigation-arrows-left img {
		position: static !important;
		width: 100% !important;
	}

.calendar-hours {
	width: 100%;
	height: 14px;
	display: table-cell;
	overflow: hidden;
	text-align: center;
}

.hour {
	padding: 5px;
	font-size: 10px;
}

#calendar-menu-header {
display: table-caption;
}

.site-menu-header {
	font-size: 1.2em;
	text-align: center;
	margin-top: 20px;
	background: rgba(107, 107, 107, 0.1);
	margin-bottom: 5px;
	height:40px;
	/*
	color:rgb(235, 255, 0);
	*/
}

.weekday-container {
	display: table-row;
}

.weekday {
	border: 2px solid rgba(255, 255, 255, 0.9);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: table-cell;
	text-align: center;
}

	.weekday:nth-child(6) {
		border: 2px solid rgb(255, 157, 157);
	}

	.weekday:nth-child(7) {
		border: 2px solid rgb(255, 157, 157);
	}

.calendar-cell {
	height: 80px;
	display: table-cell;
	overflow: hidden;
	position: relative;
}

.calendar-row {
	/*
	height: 84px;
*/
	width: 100%;
	margin: auto;
	display: table-row;
	position: relative;
}

.current-month {
	border: 2px solid rgb(235,235,235);
	background-color: rgba(255,255,255,.9);
	-moz-box-shadow: 0px 3px 5px rgb(235,235,235);
	-webkist-box-shadow: 0px 3px 5px rgb(235,235,235);
	box-shadow: 0px 3px 5px rgb(235,235,235);
}

	.current-month span {
		color: rgb(177,177,177);
		position: absolute;
		padding-left: 2px;
		padding-right: 5px;
		top: 60px;
	}

.other-month {
	border: 2px solid #ddd;
	background-color: #eee;
	position: relative;
	-moz-box-shadow: 0px 3px 5px #ddd;
	-webkist-box-shadow: 0px 3px 5px #ddd;
	box-shadow: 0px 3px 5px #ddd;
}

	.other-month span {
		position: absolute;
		padding-left: 2px;
		padding-right: 5px;
		top: 60px;
	}

.side {
	width: 10%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0px;
	position: absolute;
}


#leftSideCalendar {
	background-image: url("../Images/kalendarzTloLewy.png");
	background-position: left;
	left: 0px;
}

#rightSideCalendar {
	background-image: url("../Images/kalendarzTloPrawo.png");
	background-position: left;
	right: 0px;
}

#leftSideDetails {
	background-image: url("../Images/kalendarzTloLewy.png");
	background-position: right;
	left: 0px;
}

#rightSideLobby {
	background-image: url("../Images/kalendarzTloPrawo.png");
	background-position: left;
	right: 0px;
}


#mainContainer {
	word-spacing: 0px;
	letter-spacing: 0px;
}

.menu-item {
	/*
	
	background: rgb(244, 245, 237);
	background: rgb(238, 255, 147);
*/
	background: rgb(243, 243, 243);
	padding-top: 2px;
	color: rgb(199, 185, 185);
	text-align: left;
	border-top: 2px solid rgb(202, 255, 208);
	border-bottom: 2px solid rgb(218, 218, 218);
	font-size: .9em;
	padding: 2px;
	padding-left: 5px;
}

.menu-item-container {
	margin: 1px;
	float: right;
	min-width: 180px;
	position: relative;
}

.triangle-header {
	width: 40px;
	border-right: 10px solid transparent;
	height: 20px;
	border-top: 10px solid #ddd;
	float: right;
	position: absolute;
}

.selected {
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(112, 112, 112);
}

.border-item {
	width: 100px;
	border-bottom: 10px solid rgb(202, 255, 208);
	border-right: 10px solid transparent;
}

#add-new-event-container {
	top: 10.5%;
	position: absolute;
	z-index: 10;
	background: rgb(58, 58, 58);
	opacity: .9;
	z-index: 4;
	width: 100% !important;
	display: none;
}

.close-btn {
	width: 20%;
	float: right;
	border-top: 60px solid rgb(233, 233, 233);
	border-left: 40px solid transparent;
	position: relative;
	top: 8px;
	right: 6px;
}

.close-text {
	position: absolute;
	color: rgb(117, 117, 117);
	font-size: 1.4em;
	right: 4px;
	padding: 10px;
	padding-right: 20px;
	opacity: .9;
}

.border-close-text {
	position: absolute;
	right: 4px;
	top: 4px;
	width: 10%;
	border-top: 40px solid white;
	border-left: 28px solid transparent;
}

.add-event-body {
	height: auto;
	color: rgb(216, 216, 216);
	margin-top: 80px;
}

.add-event-fieldset label {
	width: 100px;
	display: inline-block;
}

.add-event-fieldset div {
	padding: 5px;
	margin-bottom: 5px;
}

.add-event-form-container {
	width: 400px;
}

#btnAddNewEvent {
	font-size: 2em;
	color: rgb(152, 255, 163);
	padding-left: 20px;
	padding-right: 20px;
	background: rgb(27,27,27);
	border: 1px solid gray;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.light-icon {
	color: white;
	background: rgb(225,225,225);
}

.dark-icon {
	/*
background:rgb(115, 233, 162);
*/
	background: rgb(215,215,215);
	color: white;
}

.addNewEvent-cellIcon {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 58px;
	text-align: center;
	margin-right: 2px;
	border-radius: 10px;
	display: none;
	z-index: 10;
}

.title-label {
	width: 100% !important;
}


.cell-line-style {
	position: absolute;
	width: 1px;
	opacity: .1;
	background: gray;
	height: 100%;
	visibility:hidden;
}

.event-rectangle {
	position: absolute;
	height: 20px;
	background: rgb(202, 255, 208);
	z-index: 2;
	background: rgb(255, 236, 136);
	display: none;
}

.event-hover-container {
	display: none;
	position: absolute;
	background: white;
	z-index:100;
	padding:20px;
}







/*
Slider
*/

#slides {
	position: relative;
}

	#slides .slides-container {
		display: none;
	}

	#slides .scrollable {
		*zoom: 1;
		position: relative;
		top: 0;
		left: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

		#slides .scrollable:after {
			content: "";
			display: table;
			clear: both;
		}

.slides-pagination {
	position: absolute;
	z-index: 3;
	top: 0;
	text-align: center;
	width: 100%;
}

	.slides-pagination a {
		border: 2px solid rgb(115, 233, 162);
		border-radius: 15px;
		width: 10px;
		height: 10px;
		display: inline-block;
		margin: 2px;
		background: #F0EDE7;
	}

		.slides-pagination a.current {
			background: rgb(208, 255, 227);
		}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid transparent;
	padding: 1.4em;
	margin: 0 0 1.5em 0;
	width: auto;
}


legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}
