<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>Kalendarz Kariery</title>

	<link rel="icon" href="@Url.Content( "~/Images/Ico/favicon.ico" )"/>
	@Styles.Render( "~/Content/css" )
</head>
<body>
	<header>
	</header>

	<div id="mainContainer">
		<div id="spinnerContainer">
			<span id="spinnerText"></span>
		</div>
		<div id="layoutLogo">
		</div>

		@RenderBody()

	</div>
</body>
</html>
