<div class="lobby-content-container">

	<header class="site-menu-header">
		<div id="lobby-logo">
			KALENDARZ KARIERY
		</div>

	</header>
	<div class="lobby-content-body">
		<section class="event-list" data-bind="foreach: events">
			<div>
				<span data-bind="text: name"></span><span> ,</span><span data-bind="	text: adress"></span>
			</div>
		</section>
	</div>
</div>



