<div>

<div id="leftSide">
</div>

<div id="bodyContainer">
<div id="calendarBg">
<img src="~/Images/kalendarzTlo.png" alt="background" />
<section id="calendar">
</section>
</div>
</div>

<div id="rightSide">
</div>

</div>

<script type="text/javascript">

    (function setCalendarBgHeight() {
        var height = window.innerHeight;
     
        $("#calendarBg").css("height", height);
    })();


    $(function () {

        $('#calendar').calendarWidget({ month: 2, year: 2013 });

        //$('#calendar .calendar-cell').each(function () {
        //    $(this).hoverdir({
        //        hoverDelay: 75
        //    });
        //});



        //$(".current-month").hover(function () {
        //    $(this).css("border-color", "#00ddff");
        //    $(this).css("background-color", "rgba(255, 255,255, 1)");

        //}, function () {
        //    $(this).css("border-color", "rgb(235,235,235)");
        //    $(this).css("background-color", "rgba(255,255,255,.9");
        /*
border: 2px solid rgb(235,235,235);
background-color: rgba(255,255,255,.9);          
*/
        //})

        //$(".other-month").hover(function () {
        //    $(this).css("border-color", "#0094ff");

        //}, function () {
        //    $(this).css("border-color", "#ddd");
        //})
    });


</script>
