
<div id="contentslider">
    <div class="cs_wrapper">
        <div class="cs_slider">
 
       <div id="bodyContainer" class="cs_article">
            <div id="leftSide">
            </div>
            <div id="calendarBg">
                <img src="~/Images/kalendarzTlo.png" alt="background" />
                <section id="calendar">
                </section>
            </div>
            <div id="rightSide">
            </div>
        </div>
<div class="cs_article">

eferfiper fepfjerpof j54pof po4kj p45gp o54
</div>
 
        </div><!-- End cs_slider -->
    </div><!-- End cs_wrapper -->
</div><!-- End contentslider -->



<script type="text/javascript">

    (function setCalendarBgHeight() {
        var height = window.innerHeight;

        $("#calendarBg").css("height", height);
        $('#contentslider').ContentSlider();
    })();


    $(function () {

        $('#calendar').calendarWidget({ month: 2, year: 2013 });

        $(".current-month").hover(function () {
            $(this).css({
                "cursor": "pointer",
                "-moz-box-shadow": "none",
                "-webkist-box-shadow": "none",
                "box-shadow": "none",
                "top": "3px",
            });
        }, function () {
            $(this).css({
                "cursor": "auto",
                "-moz-box-shadow": "0px 3px 5px rgb(235,235,235)",
                "-webkist-box-shadow": "0px 3px 5px rgb(235,235,235)",
                "box-shadow": "0px 3px 5px rgb(235,235,235)",
                "top": "0px"
            })
        });

        $(".other-month").hover(function () {
            $(this).css({
                "cursor": "pointer",
                "-moz-box-shadow": "none",
                "-webkist-box-shadow": "none",
                "box-shadow": "none",
                "top": "3px"
            });
        }, function () {
            $(this).css({
                "cursor": "auto",
                "-moz-box-shadow": "0px 3px 5px #ddd",
                "-webkist-box-shadow": "0px 3px 5px #ddd",
                "box-shadow": "0px 3px 5px #ddd",
                "top": "0px"

            })
        });

        $("#bodyContainer").on("click", "#leftSide", function (event) {
            alert("leftSide click nigga");
        });


    });


</script>
