<div class="popupbox confirmation-popupbox" style="display: none;">
	<div>
		<span class="confirmation-popupbox-maintext"></span>
	</div>
	<div style="margin-top: 20px;">
		<div class="confirmation-popupbox-yesbtn hover-cursor-pointer" style="display: inline-block;">
			<span class="green-color">Tak</span>
		</div>
		<div class="confirmation-popupbox-nobtn hover-cursor-pointer" data-bind="click: function () { $root.hideConfirmationPopupBox( $element ) }" style="display: inline-block;">
			<span class="red-color">Nie</span>
		</div>
	</div>
</div>
