<li>
	<div class="event-list-item-container">
		<div class="event-list-item" data-bind="click: function () { $root.expandEventOverviewItemOnClick( $element ) }">
			<i class="md-icon-hover md-icon-rg mdi mdi-window-minimize expand-label"></i>
			<div class="event-list-item-left">
				<div class="event-kind-tag inline-block" data-bind="style: { color: kind.headerColor }, text: kind.name"></div>
				<div class="list-item-date">
					<div data-bind="html: startDate.displayFullDate_EnlargeDay()"></div>
					<div data-bind="text: startDate.displayFullTime()"></div>
				</div>
			</div>
			<div class="event-list-item-right">
				<div class="sm-label" data-bind="text: startDate.displayInfo()"></div>
				<span class="list-item-title" data-bind="text: name"></span>
			</div>
		</div>
		<div class="event-block-expand">
			@Html.Partial( "_EventBlock", new ViewDataDictionary { { "page", ViewData["page"] } } )
		</div>
	</div>
</li>
