
/*Lobby - lobbyEventsMasonryContainer*/

#lobbyEventsMasonryContainer .event-block-container {
	display: inline-block;
	width: 33.05%;
	vertical-align: top;
	margin: 1px;
}

#lobbyEventsMasonryContainer .event-block {
	line-height: 1;
	background: rgb(165, 165, 165);
}

#lobbyEventsMasonryContainer .event-block-info-link {
	word-break: break-all;
}

#lobbyEventsMasonryContainer .event-block-info-name {
	font-size: 1.5em;
	color: #f7f7f7;
	padding: 6px;
}

#lobbyEventsMasonryContainer .event-kind-tag {
	line-height: 1.5;
	font-size: 1em;
	float: right;
	text-align: center;
	min-height: 0;
}

#lobbyEventsMasonryContainer .event-block-body {
	color: rgb(72, 68, 62);
	padding: 10px;
	font-size: 1.2em;
}

#lobbyEventsMasonryContainer .event-block-footer {
	padding: 10px;
	overflow: hidden;
	color: #dedede;
}

#lobbyEventsMasonryContainer .event-block-info-date {
	margin-bottom: 2px;
	font-size: 1.8em;
}

#lobbyEventsMasonryContainer .event-block-info-body {
	margin-top: 20px;
	color: rgb(220, 220, 220);
}

#lobbyEventsMasonryContainer .event-block-info-time {
	font-size: 1.2em;
	color: rgb(72, 68, 62);
}

#lobbyEventsMasonryContainer .block-info-description {
	color: #f7f7f7;
}

#lobbyEventsMasonryContainer .block-info-details {
	color: #f7f7f7;
}

#lobbyEventsMasonryContainer .event-block-info-addedby {
	color: rgb(76, 76, 76);
	text-align: right;
}

#lobbyEventsMasonryContainer .event-block-menu {
	float: right;
}

/*Details - detailsEventBlockList*/

#detailsEventBlockList .event-block-container {
	margin: 2px;
}

#detailsEventBlockList .event-block {
	line-height: 1;
	background: rgb(165, 165, 165);
}

#detailsEventBlockList .event-block-info-link {
	word-break: break-all;
}

#detailsEventBlockList .event-block-info-name {
	font-size: 1.5em;
	color: #f7f7f7;
	padding: 10px;
}

#detailsEventBlockList .event-kind-tag {
	line-height: 1.5;
	font-size: 1em;
	float: right;
	text-align: center;
}

#detailsEventBlockList .event-block-body {
	color: rgb(220, 220, 220);
	padding: 10px;
	font-size: 1.2em;
}

#detailsEventBlockList .event-block-info-address {
	color: rgb(72, 68, 62);
}

#detailsEventBlockList .event-block-footer {
	padding: 10px;
	overflow: hidden;
	color: #dedede;
}

#detailsEventBlockList .event-block-info-date {
	margin-bottom: 2px;
	font-size: 1em;
	color: rgb(76, 76, 76);
}

#detailsEventBlockList .event-block-info-body {
	margin-top: 20px;
}

#detailsEventBlockList .event-block-info-time {
	font-size: 1.8em;
	color: rgb(76, 76, 76);
}

#detailsEventBlockList .block-info-description {
	color: #f7f7f7;
}

#detailsEventBlockList .block-info-details {
	color: #f7f7f7;
}

#detailsEventBlockList .event-block-info-addedby {
	color: rgb(76, 76, 76);
	text-align: right;
}

#detailsEventBlockList .event-block-info-price {
}

#detailsEventBlockList .event-block-menu {
	float: right;
}

/*Lobby and Details - event-block-expand*/

.event-block-expand .event-block {
	line-height: 1;
	background: rgb(251, 251, 250);
}

.event-block-expand .event-block-info-link {
	word-break: break-all;
}

.event-block-expand .event-block-info-name {
	font-size: 1.5em;
	color: #636363;
	padding: 6px;
}

.event-block-expand .event-kind-tag {
	line-height: 1.5;
	font-size: 1em;
	float: right;
	text-align: center;
}

.event-block-expand .event-block-body {
	color: rgb(72, 68, 62);
	padding: 10px;
	font-size: 1.2em;
}

	.event-block-expand .event-block-body :hover {
		background: initial;
	}

.event-block-expand .event-block-footer {
	padding: 10px;
	overflow: hidden;
	color: rgb(152, 152, 137);
}

.event-block-expand .event-block-info-date {
	margin-bottom: 2px;
	font-size: 1.6em;
}

.event-block-expand .event-block-info-body {
	margin-top: 20px;
}

.event-block-expand .event-block-info-time {
	font-size: 1.2em;
	color: #969689;
}

.event-block-expand .event-block-info-addedby {
	color: gray;
	text-align: right;
}

.event-block-expand .event-block-menu {
	float: right;
}
