
/*Lobby - lobbyEventsMasonryContainer*/

#lobbyEventsMasonryContainer .event-block-container {
	display: inline-block;
	width: 33.05%;
	vertical-align: top;
	margin: 1px;
}

#lobbyEventsMasonryContainer .event-block {
	border: none;
}

/*Details - detailsEventBlockList*/

#detailsEventBlockList .event-block-container {
	margin: 2px;
}

#detailsEventBlockList .event-block {
	line-height: 1;
	background: #fbfbfb;
}

#detailsEventBlockList .event-block-link {
	word-break: break-all;
}

#detailsEventBlockList .event-block-name {
	font-size: 1.5em;
	color: #636363;
	padding: 10px;
	background: #f3f3f3;
}

#detailsEventBlockList .event-kind-tag {
	line-height: 1.5;
	font-size: 1em;
	float: right;
	text-align: center;
}

#detailsEventBlockList .event-block-body {
	color: rgb(220, 220, 220);
	padding: 10px;
	font-size: 1.2em;
}

#detailsEventBlockList .event-block-footer {
	padding: 10px;
	overflow: hidden;
	color: #dedede;
}

#detailsEventBlockList .event-block-date {
	margin-bottom: 2px;
	font-size: 1em;
	color: rgb(76, 76, 76);
}

#detailsEventBlockList .event-block-time {
	font-size: 1.8em;
}

#detailsEventBlockList .event-block-description {
	color: #f7f7f7;
}

#detailsEventBlockList .event-block-details {
	color: #f7f7f7;
}

#detailsEventBlockList .event-block-addedby {
	color: rgb(76, 76, 76);
	text-align: right;
}

#detailsEventBlockList .event-block-price {
}

#detailsEventBlockList .event-block-menu {
	float: right;
}

/*Lobby and Details - event-block-expand*/

.event-block-expand .event-block {
	line-height: 1;
	background: rgb(249, 248, 246);
}

.event-block-expand .event-block-link {
	word-break: break-all;
}

.event-block-expand .event-block-name {
	font-size: 1.5em;
	color: #636363;
	padding: 6px;
	background: #e4e1de;
}

.event-block-expand .event-kind-tag {
	line-height: 1.5;
	font-size: 1em;
	float: right;
	text-align: center;
}

.event-block-expand .event-block-body {
	color: rgb(72, 68, 62);
	padding: 10px;
	font-size: 1.2em;
}

	.event-block-expand .event-block-body :hover {
		background: initial;
	}

.event-block-expand .event-block-footer {
	padding: 10px;
	overflow: hidden;
	color: rgb(152, 152, 137);
}

.event-block-expand .event-block-date {
	margin-bottom: 2px;
	font-size: 1.6em;
}

.event-block-expand .event-block-time {
	font-size: 1.2em;
}

.event-block-expand .event-block-addedby {
	color: #ADABAA;
	text-align: right;
}

.event-block-expand .event-block-menu {
	float: right;
}
