#mainContainer{
margin:0 auto;
font-family:Helvetica;
width:850px;
position:relative;
}

#mainContainer input{
height:30px;
width:120px;
font-size:20px;
display:inline-block;
}

#bgContainer{
width:800px;
height:810px;
padding:10px;
background: url(/Images/Kalkulator/cbs_background.jpg);
background-position:bottom;
background-size:cover;
}

#leftContainer{
display:inline-block;
max-width:498px;
}

#rightContainer{
display:inline-block;
height:374px;
border-left: 1px solid #DAEBF3;
vertical-align:top;
}

.result{
border:1px solid #DAEBF3;
height:60px;
width:220px;
margin:0 auto;
font-size:30px;
position:relative;
}

.result-span{
position:relative;
top:15px;
}

.results-container{
margin-bottom:40px;
padding-left:10px;
text-align:center;
}

.prefix{
color:#E2E2E2;
}

.row{
margin-bottom:14px;
}

.row .txt-container{
width:150px;
display:inline-block;
}

.row .txt-container-chk{
width:120px;
display:inline-block;
}

.label{
text-align:left;
}

.label-chk{
text-align:center;
}

#calculatorContainer{
margin:0 auto;
height:560px;
background:rgba(0,126,184,.6);
border:2px solid #1F8BBB;
padding:20px;
padding-top:0px;
color:white;
position:relative;
}

#msgContainer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF7D7D;
    padding: 10px;
	display:none;
}
#powierzchniaMsgContainer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF7D7D;
    padding: 10px;
	display:none;
}

