/*
MEDIA QUERIES
*/

@media (max-width: 1300px) {
	.event-block {
		box-shadow: none;
	}

	.current-month-cell {
		box-shadow: none;
	}

	.slick-contact-form {
		box-shadow: none;
	}

	.year-name-container {
		box-shadow: none;
	}

	.current-month-name-calendar {
		box-shadow: none;
	}

	.today-day-header-calendar {
		box-shadow: none;
	}

	.event-kind-tag {
		box-shadow: none;
	}

	#registerPageContainer {
		box-shadow: none;
	}

	#loginPageContainer {
		box-shadow: none;
	}

	.event-hover-container {
		box-shadow: none;
	}

	.event-block-container {
		width: 45%;
	}
}

@media (max-width: 800px) {
		.event-block-container {
			width: 98%;
		}

		.menu-item {
			width: 80px;
		}
	}