/*
MEDIA QUERIES
*/

@media (max-width: 1300px) {
	.event-block {
		box-shadow: none;
	}

	.current-month-cell {
		box-shadow: none;
	}

	.slick-contact-form {
		box-shadow: none !important;
	}

		.slick-contact-form input[type=text], input[type=password], textarea, select {
			box-shadow: none !important;
		}

	.year-name-container {
		box-shadow: none;
	}

	.current-month-name-calendar {
		box-shadow: none;
	}

	.today-day-header-calendar {
		box-shadow: none;
	}
}
