html, body, #appContainer {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  font-size: .85em;
  line-height: 1.6;
  font-family: "SegoeUI", Helvetica, Sans-Serif, Raleway-Regular;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

header, footer, nav, section, div {
  display: block;
  margin: 0;
}


@font-face {
  font-family: Raleway;
  src: url('Fonts/Raleway/Raleway-Thin.ttf');
}

@font-face {
  font-family: Raleway-Regular;
  src: url('Fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: SegoeUI;
  src: url('Fonts/SegoeUI/segoeui.ttf');
}

pre {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/*@font-face {
	font-family: CodePro;
	src: url('Fonts/CodePro/CODE Bold.otf');
}*/

/*@font-face {
	font-family: Oxygen;
	src: url('Fonts/Oxygen/Oxygen-Regular.ttf');
}*/

/*.dz-row.current{
  border-right:2px solid #E8E8D4;
}*/


/* Kalendarz Kariery
-----------------------------------------------------------*/

/*Lobby*/
#lobbyLogo {
  display: inline-block;
}

#lobby .dz-column-inner-wrapper {
  border-right: 1px solid #F3F3F3;
  background: rgb(247, 247, 247);
  width: 80%;
}

#pageOverlayAtSiteLoad {
  width: 80%;
  height: 100%;
  background: rgb(247, 247, 247);
  border-right: 1px solid #F3F3F3;
  position: absolute;
  left: -14px;
  z-index: 100;
}

#pageOverlayAtSiteLoadText {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20%;
  font-family: Raleway-Regular;
  font-size: 2em;
  color: gray;
}

#lobbyHeader {
  background: #D8CDB8;
  padding: 40px 0;
  float: right;
}

#loginFormBtn {
  padding: 14px;
  float: right;
  margin-right: 50%;
}

#registerFormBtn {
  padding: 14px;
  float: right;
  margin-right: 50%;
}

#loginBarContainer {
  /* float: right; */
  color: #75797b;
  font-size: 1.6em;
  padding-right: 10px;
  text-align: right;
  border: 1px solid #DEDED9;
}

#lobbyQuoteSection {
  font-family: Raleway-Regular;
  text-align: left;
  margin: 0 auto;
  width: 80%;
}

.lobby-quote {
  color: #B7B7AF;
  font-size: 2em;
  line-height: 1;
}

#addPublicEventBtn {
  float: right;
  margin-right: 20px;
  padding: 14px;
}

.dz-row {
  position: relative;
  margin-bottom: 20px;
  top: 20px;
}

.lobby-login-text {
  font-size: .8em;
  margin-right: 6px;
  /*vertical-align: bottom;*/
}

#lobbyNavContainer {
  margin: 0 10%;
  font-size: 1.2em;
  border-top: 1px solid white;
  padding-top: 30px;
}

  #lobbyNavContainer a {
    margin-right: 10px;
    color: black;
    text-decoration: none;
  }

.selected-nav-link {
  /*text-shadow: 0px 1px 1px #B3AC95;
  border-bottom: 2px solid #F6FFF4;*/
  text-shadow: 0px 1px 1px #929292;
  border-bottom: 2px solid #B5E4EC;
}

#lobbyTableOfEventsSection {
  border-top: 1px solid #E8E8E8;
  padding-top: 10px;
}

.events-menu-container {
  text-align: center;
  margin-bottom: 20px;
}

.menu-item-container {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  background: #E8E8E4;
  border: 1px solid rgb(226, 226, 226);
}

.menu-item {
  height: 0px;
  color: rgb(76, 76, 76);
  font-size: 1em;
  margin-bottom: 20px;
  width: 100px;
  text-align: center;
}

.border-item {
  border-bottom: 8px solid;
}

/*border-colors*/
.inne-border-tab {
  color: rgb(255, 204, 204);
}

.lekcje-border-tab {
  color: rgb(255, 232, 189);
}

.wydarzenia-border-tab {
  color: rgb(255, 255, 196);
}

.spotkania-border-tab {
  color: rgb(194, 255, 212);
}

.zajecia-border-tab {
  color: rgb(193, 241, 255);
}

.szkolenia-border-tab {
  color: rgb(185, 205, 255);
}

.kursy-border-tab {
  color: rgb(200, 200, 200);
}

/*end border-colors*/

.menu-item-number-upcoming {
  font-size: 3em;
  color: rgb(148, 148, 148);
}

.display-events-overview-container {
  background: #ECECEC;
  border: 2px solid white;
  margin-bottom: 40px;
}

.display-events-overview-header {
  text-align: left;
  padding: 5px;
  padding-left: 20px;
  font-size: 1.4em;
  position: relative;
}

.display-events-header-menu-title {
  padding: 10px;
}

  .display-events-header-menu-title.selected {
    color: gray;
  }

.display-events-overview-body {
  padding-bottom: 40px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.display-events-overview-container .legend-oldorupcoming {
  color: #4E4E48;
  padding: 4px 0;
  font-size: 2em;
  text-align: center;
  margin-left: 100px;
  margin-top: 1px;
  margin-bottom: 1px;
  position: relative;
  border-bottom: 2px solid #BDBDBD;
}

.oldorupcoming-event-count {
  padding-right: 10px;
  position: absolute;
  right: 0;
}

.oldorupcoming-expand-text {
  font-size: 14px;
  position: relative;
}

.display-events-overview-item {
  border-left: 2px solid #D8D8C5;
  border-right: 2px solid #D8D8C5;
  border-bottom: 2px solid #CCCCBF;
  border-top: 2px solid #FFFFF2;
  background: #F7F7F7;
  overflow: hidden;
}

.oldorupcoming-text-container {
  position: absolute;
  left: 0;
}

.oldorupcoming-sign {
  padding: 20px;
}

.event-block-container {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  margin: 1px;
}

.event-block {
  color: rgb(126, 116, 101);
  line-height: 1;
  /*background: #D7D0B8;*/
  background: #E4DECA;
  /*box-shadow: rgb(169, 162, 139) 2px 2px 10px -1px inset;*/
  border: 2px solid rgb(189, 180, 153);
  border-top: none;
  min-height: 200px;
}

#lobbyEventsMasonryContainer {
  height: 100%;
  width: 98%;
  float: right;
}

.register-birthdate-txtbox {
  width: 46px !important;
}

.slash-separator {
  color: #b3aba1;
}

.exclamation-mark {
  color: #B9B9B9;
  padding: 8px;
  font-size: 1em;
  vertical-align: middle;
}

/*Calendar page*/
.event-rectangle {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  border-top: 4px solid;
  height: 23px;
  color: rgb(102, 102, 102);
  font-size: .9em;
  line-height: 1;
  background: none;
  font-family: Raleway-Regular;
  opacity: 1;
}

.today-cell .event-rectangle {
  font-size: .9em;
}

/*Details page*/

#details .dz-column-inner-wrapper {
  width: 80%;
  margin: 0 auto;
  background: rgb(247, 247, 247);
  border: 1px solid #F1F1E7;
}

#detailsPanel .events-menu-container {
  float: right;
}

#detailsPanel {
  border-top: 1px solid #E8E8E8;
  padding-top: 10px;
  overflow: hidden;
}

#todayDateAndTimeContainer {
  height: 200px;
  width: 200px;
  background: gray;
  display: none;
}

#detailsDayTable {
  position: relative;
  padding: 2% 2%;
  padding-bottom: 40px;
  width: 88%;
  margin: 0 auto;
  background: rgba(232, 232, 212, 0.8);
}

  #detailsDayTable .details-day-table-head {
    overflow: hidden;
    text-align: left;
    color: #DED9CF;
    padding: 10px;
    padding-left: 6px;
    font-size: 15px;
    background: #5F5F55;
  }

    #detailsDayTable .details-day-table-head div {
      float: left;
      width: 7.14%;
    }

  #detailsDayTable .details-day-table-body {
    background: rgb(162, 156, 143);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1px;
  }

  #detailsDayTable .details-day-table-cell {
    float: left;
    width: 7.14%;
    position: relative;
    height: 100%;
  }

  #detailsDayTable .small-minutes {
    font-size: 10px;
    vertical-align: top;
  }

.hour-line {
  position: absolute;
  background: rgb(177, 173, 159);
  height: 100%;
  width: 1px;
}

.hour-line-21 {
  position: absolute;
  background: rgb(177, 173, 159);
  height: 100%;
  width: 1px;
  right: 1px;
}

.day-display-date-container {
  font-size: 2em;
  color: black;
  padding-bottom: 10px;
  border-top: 1px solid #E8E8E8;
  padding-left: 20px;
}

  .day-display-date-container .display-date-small {
    font-size: .5em;
    color: #716B5E;
  }

.event-rectangle-details {
  color: rgb(232,232,232);
  overflow: hidden;
  position: absolute;
  z-index: 2;
  border-top: 4px solid;
  height: 40px;
  line-height: 1;
}

#detailsEventsAndNotesContainer {
  overflow: hidden;
  padding: 0 2%;
  padding-bottom: 40px;
  width: 88%;
  margin: 0 auto;
  background: rgba(232, 232, 212, 0.8);
}

#detailsEventBlockList {
  width: 49%;
  display: inline-block;
}

.details-event-block-container {
  margin-bottom: 4px;
}

.details-event-block {
  color: rgb(250, 250, 250);
  line-height: 1;
  /*background: rgb(228, 223, 202);*/
  background: rgb(210, 210, 188);
}

  .details-event-block .event-kind-tag {
    padding: 5px;
    background: #A29C8F;
    width: 100px;
    line-height: 1.5;
    font-size: 1em;
    float: right;
    text-align: center;
  }

.details-event-block-body {
  color: rgb(72, 68, 62);
  border-top: 2px solid #FDFDFD;
  padding: 10px;
  font-size: 1.2em;
}

#notesContainer {
  float: right;
  vertical-align: top;
  width: 49%;
}

.details-event-block-footer {
  padding: 10px;
  overflow: hidden;
  color: rgb(152, 152, 137);
}

.notes-shadow-box {
  position: relative;
  /*background: rgb(245, 242, 230);*/
  background: rgb(253, 253, 249);
  border: 2px solid #FAFAF0;
  color: rgba(0,0,0, .8);
}

  .notes-shadow-box::before, .notes-shadow-box::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: rgb(184, 168, 137);
    box-shadow: 0 15px 10px rgb(184, 168, 137);
    transform: rotate(-3deg);
  }

  .notes-shadow-box::after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }

#notesTxtArea {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  font-size: 1.4em;
  background: rgb(242, 242, 229);
  padding: 10px;
  resize: none;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  -webkit-appearance: none;
  outline: 0;
}

#btnAddNewNote {
  float: right;
  margin-bottom: 10px;
}

#notesList {
  list-style-position: outside;
  font-size: 1.4em;
  margin: 0 auto;
}


#notesListContainer {
  padding: 0 10px;
}

.note-content {
  border-bottom: 1px solid rgb(235, 235, 217);
}

.edit-mode-note-container {
  clear: both;
}

.details-event-block-info-date {
  color: #969689;
  margin-bottom: 10px;
}

.details-event-block-info-body {
  margin-top: 20px;
  padding-left: 20px;
}

.details-event-block-info-time {
  font-size: 1.6em;
}

.details-event-block-info-addedby {
  font-size: .8em;
}


/*#clockCanvas {
	position: absolute;
	top: 70px;
}

#digitalClock {
	position: absolute;
	top: 160px;
	width: 200px;
	text-align: center;
	font-size: 40px;
	color: rgb(207, 199, 173);
}*/



.flat-form {
  margin: 0 auto;
  width: 50%;
  position: relative;
  border: 1px solid #D8D8D8;
  padding: 20px;
  background: #ECECEC;
  margin-top: 40px;
  font-size: 1.4em;
}

  .flat-form label {
    color: #484848;
    text-transform: uppercase;
    font-size: .6em;
  }

  .flat-form legend {
    color: #808080;
    font-size: 1em;
    border-bottom: 2px solid;
    width: 50%;
  }

  .flat-form textarea {
    margin-top: 8px;
  }

  .flat-form input[type=text], .flat-form input[type=password], .flat-form textarea, .flat-form select {
    color: #8B836B;
    background: rgba(236, 234, 227, 0.4);
    /*background: rgb(194, 185, 159);*/
    width: 220px;
    height: 36px;
    padding: 0px 10px;
    border: 2px solid #f8f5f1;
    border-radius: 5px;
    box-shadow: inset 0px 0px 1px #b3a895;
  }


  .flat-form textarea {
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


    .flat-form textarea:focus, .flat-form input[type=text]:focus, .flat-form input[type=password]:focus select:focus {
      background: rgba(214, 211, 196, 0.4);
      border: 2px solid white;
      color: gray;
    }


.popup-form {
  position: absolute;
  width: 80%;
  height: auto;
  padding: 20px;
  left: 10%;
  z-index: 100;
  top: 100px;
}

#loginPageContainer {
  display: none;
}

#registerPageContainer {
  display: none;
}

#logoutForm {
  display: inline-block;
}

.btn-add {
  padding: 0 14px;
  border: 2px solid;
  border-radius: 4px;
  background: rgba(255,255,255,.5);
}

.btn-close {
  padding: 0 14px;
  border: 2px solid;
  border-radius: 4px;
  position: absolute;
  background: rgba(255,255,255,.5);
  top: 20px;
  padding-bottom: 4px;
  right: 20px;
}

.green-color {
  color: rgb(106, 183, 129);
}

.red-color {
  color: #FD6969;
}

.div-separator {
  margin: 10px 20px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.width-49per {
  width: 49%;
}

.event-block-description {
}

.display-events-overview-item-list {
  padding-left: 100px;
  padding-right: 6px;
}

.section-title {
  font-size: 2em;
  color: #5D5D59;
  border-bottom: 1px solid #FFFFFF;
  text-align: center;
}

.hover-cursor-pointer:hover {
  cursor: pointer;
}

.line-through-text {
  text-decoration: line-through;
}

.link:hover {
  cursor: pointer;
  color: black;
}

.close-btn-x {
  color: rgb(140, 133, 133);
  font-size: 1.4em;
  position: absolute;
  top: -3px;
  right: 12px;
}

.overview-item-inner-wrapper {
  font-size: 1em;
  color: #5D5B55;
}

.list-item-title {
  font-size: 1.4em;
}

.list-item-star {
  display: inline-block;
  vertical-align: bottom;
  width: 40px;
}

.list-item-other {
  font-size: 1.2em;
  margin: 10px;
  margin-right: 5px;
}

.list-item-date {
}

.event-kind-tag {
  padding: 5px;
  background: #8E8E8D;
  width: 100px;
  text-align: center;
  display: inline-block;
  border: 1px solid #F7F7F7;
}

.event-block-menu {
  float: right;
}

.dziennik-menu-container {
  width: 40%;
  height: 200px;
  background: #EAEADD;
  float: right;
  text-align: center;
  padding: 20px 0;
  font-size: 1.4em;
  color: #616158;
}

.small-kk-logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.page-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #4E4E42;
  opacity: .6;
  z-index: 99;
}

/*popupbox*/

.popupbox {
  background: #FBFBFB;
  border: 2px solid #ffffeb;
  color: #827869;
  border-radius: 3px;
  width: 60%;
  left: 20%;
  padding: 20px;
  padding-top: 10px;
  z-index: 100;
  top: 0;
  position: absolute;
}

.confirmation-popupbox {
  top: 300px;
  text-align: center;
}

.popupbox-header {
  font-size: 1.4em;
}

.popupbox-body {
  font-size: 2em;
}

.popupbox label {
  color: #484848;
  text-transform: uppercase;
  font-size: .6em;
  margin-bottom: -10px;
}

.popupbox legend {
  color: #808080;
  font-size: 1em;
  border-bottom: 2px solid;
  width: 50%;
}

.popupbox textarea {
  margin-top: 8px;
}

.popupbox input[type=text], .popupbox input[type=password], .popupbox textarea, .popupbox select {
  color: #8B836B;
  background: rgba(236, 234, 227, 0.4);
  /*background: rgb(194, 185, 159);*/
  width: 220px;
  height: 36px;
  padding: 0px 10px;
  border: 2px solid #f8f5f1;
  border-radius: 5px;
  box-shadow: inset 0px 0px 1px #b3a895;
  outline: none;
}

.event-startdate-txtbox {
  width: 44px !important;
}

.popupbox textarea {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popupbox .time-select-box {
  width: 70px !important;
}

.popupbox #kindSelectBox {
  width: 159px !important;
}

.popupbox textarea:focus, .popupbox input[type=text]:focus, .popupbox input[type=password]:focus select:focus {
  background: rgba(214, 211, 196, 0.4);
  border: 2px solid white;
  color: gray;
}

#btnAddNewEvent {
  float: right;
  font-size: 1em;
  margin-right: 50%;
  position: relative;
  left: 4px;
}

#addNewEventShowMoreOptionsLink {
  font-size: .6em;
}

/*Validation*/
.input-validation-error {
  border: 2px solid red !important;
}

.field-validation-error {
  font-size: .6em;
  color: red;
}
