html {
	padding: 0px;
	margin: 0px;
}

body {
	font-size: .85em;
	line-height: 1.6;
	font-family: Raleway-Regular,"SegoeUI", Helvetica, Sans-Serif;
	padding: 0px;
	margin: 0px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	background: rgb(237, 233, 217);
}

header, footer, nav, section, div {
	display: block;
	margin: 0;
}

@font-face {
	font-family: Raleway;
	src: url('Fonts/Raleway/Raleway-Thin.ttf');
}

@font-face {
	font-family: Raleway-Regular;
	src: url('Fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
	font-family: SegoeUI;
	src: url('Fonts/SegoeUI/segoeui.ttf');
}

/*@font-face {
	font-family: CodePro;
	src: url('Fonts/CodePro/CODE Bold.otf');
}*/

/*@font-face {
	font-family: Oxygen;
	src: url('Fonts/Oxygen/Oxygen-Regular.ttf');
}*/

/* Kalendarz Kariery
-----------------------------------------------------------*/
.underline {
	text-decoration: underline;
}

#lobbyNavContainer {
	font-family: Raleway-Regular;
	color: gray;
	text-align: center;
}

	#lobbyNavContainer a {
		text-decoration: none;
		color: gray;
	}

		#lobbyNavContainer a:visited {
			color: gray;
		}

		#lobbyNavContainer a:active {
			color: gray;
		}

.lobby-nav-link-container {
	display: inline-block;
	margin: 10px;
}

.selected-nav-link {
	text-shadow: 0px 1px 1px #BDB8A4;
}

#lobbyQuoteContainer {
	font-family: Raleway-Regular;
	font-size: 2em;
	color: white;
	text-align: center;
	text-shadow: 0px 1px 1px rgb(207, 200, 176);
}

#lobbyQuoteAndNavSection {
	margin-top: 160px;
	margin-bottom: 150px;
}

.dotted-page-overlay {
	background: url(../Images/point.png) repeat scroll 0 0 transparent;
	height: 100%;
	width: 100%;
	z-index: 100;
	position: absolute;
	display: none;
}

/*calendar css*/
#calendar {
	margin: auto;
	position: relative;
	width: 100%;
	height: 100%;
	color: rgb(177,177,177);
	display: table;
	table-layout: fixed;
	border-spacing: 1px;
	margin-top: 20px;
	border-bottom: 2px solid rgb(209, 209, 209);
}

#calendarBg {
	position: relative;
	width: 80%;
	left: 10%;
	border-top: 1px solid rgb(247,247,247);
}


#details {
	width: 100%;
}

#detailsBg {
	position: relative;
	width: 90%;
	left: 10%;
}


#lobby {
	margin: auto;
	position: relative;
	width: 100%;
	color: rgb(31, 22, 22);
}

#clockCanvas {
	height: 200px;
	position: relative;
	width: 200px;
	margin-top: -150px;
	right: 15px;
}

#digitalClock {
	position: absolute;
	top: 160px;
	width: 200px;
	text-align: center;
	font-size: 40px;
	color: rgb(207, 199, 173);
}

#lobbyBg {
	position: relative;
	width: 90%;
	left: 0px;
	/*background:#c1b8ab;*/
	/*background:#b1a798;*/
}

#lobbyLogo {
	background-image: url(../Images/Logo/kkLogo_smaller.png);
	position: absolute !important;
	background-repeat: no-repeat;
	/*height: 140px;
	width: 540px;*/
	height: 82px;
	width: 356px;
}

#layoutLogo {
	background-image: url(../Images/Logo/kkLogo.png);
	position: absolute !important;
	background-repeat: no-repeat;
	height: 140px;
	width: 540px;
}

#calendar-navigation-arrows-left {
	left: 3%;
	position: fixed;
	top: 240px;
	width: 50px;
	z-index: 5;
}

	#calendar-navigation-arrows-left img {
		position: static !important;
		width: 100% !important;
	}

#calendar-navigation-arrows-right {
	right: 4%;
	position: fixed;
	top: 240px;
	width: 50px;
	z-index: 5;
}

	#calendar-navigation-arrows-right img {
		position: static !important;
		width: 100% !important;
	}

.news-container {
	text-align: center;
}

#lobby-navigation-arrows-right {
	right: 4%;
	position: fixed;
	top: 240px;
	width: 50px;
	z-index: 5;
}

	#lobby-navigation-arrows-right img {
		position: static !important;
		width: 100% !important;
	}

#details-navigation-arrows-left {
	left: 4%;
	position: fixed;
	top: 240px;
	width: 50px;
	z-index: 5;
}

	#details-navigation-arrows-left img {
		position: static !important;
		width: 100% !important;
	}

#btnAddNewEvent {
	position: absolute;
	display: inline-block;
	margin-left: 137px;
	bottom: 20px;
}

.more-options-container label {
	width: 230px !important;
}

.calendar-hours {
	width: 100%;
	height: 14px;
	display: table-cell;
	overflow: hidden;
	color: rgb(187, 187, 187);
	/*background: rgb(115, 216, 163);*/
	position: relative;
	padding-bottom: 2px;
}

.calendar-hours-placeholder {
	position: relative;
	width: 100%;
	height: 100%;
}

.display-events-overview-header {
	text-align: left;
	padding: 5px;
	padding-left: 20px;
	color: rgb(231, 224, 202);
	border-bottom: 1px solid rgb(242, 242, 242);
	font-size: 1.4em;
	background: rgb(186, 176, 146);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}


.display-events-overview-container {
	font-size: 1.2em;
	background: rgb(223, 215, 188);
	width: 88%;
	border-radius: 6px;
	border: 1px solid rgb(212, 202, 168);
	display: none;
	padding-bottom: 40px;
	text-align: center;
}

	.display-events-overview-container .legend-container {
		font-weight: bold;
		color: rgb(118, 104, 75);
		margin: 0 auto;
		width: 90%;
	}

	.display-events-overview-container .legend-title {
		display: inline-block;
		width: 300px;
		padding: 5px;
		text-align: left;
	}

	.display-events-overview-container .legend-other {
		display: inline-block;
		padding: 5px;
		width: 110px;
		text-align: left;
	}

	.display-events-overview-container .legend-oldorupcoming {
		color: rgb(255, 250, 232);
		padding: 4px 0;
		font-size: 1.6em;
		text-align: center;
	}

	.display-events-overview-container .list-item-title {
		display: inline-block;
		width: 300px;
		margin-bottom: 2px;
		padding: 5px;
		vertical-align: top;
		color: rgb(118, 104, 75);
		text-align: left;
	}

	.display-events-overview-container .list-item-other {
		display: inline-block;
		color: rgb(118, 104, 75);
		padding: 5px;
		width: 110px;
		text-align: left;
	}

.display-events-overview-list:nth-child(odd) {
	background: rgb(231, 224, 201);
}

.hour {
	font-size: 10px;
	position: absolute;
}

#calendarLogoSmallContainer img {
	/*position: absolute;
	top: 20px;
	left: 60px;
	height: 60px !important;
	width: 60px !important;
	z-index: 10;*/
}

#calendarMenuHeader {
	display: table-caption;
	color: white;
	text-align: center;
}

#loginPageContainer {
	width: 440px;
	top: 25px;
	margin-left: 38%;
	color: rgb(132,132,132);
	margin-top: 40px;
	display: none;
	position: absolute;
	z-index: 101;
	box-shadow: 1px 0px 40px 0px rgb(85, 85, 85);
}

	#loginPageContainer legend {
		font-size: 1.5em;
		position: relative;
		bottom: 14px;
	}

.event-kind-tag {
	display: inline-block;
	padding: 5px;
	background: rgb(184, 168, 137);
	width: 100px;
	box-shadow: rgb(143, 125, 107) 2px 2px 10px -1px inset;
}

#registerPageContainer {
	display: block;
	width: 500px;
	margin-left: 34%;
	top: 25px;
	color: rgb(132,132,132);
	display: none;
	position: absolute;
	z-index: 101;
	box-shadow: 1px 0px 40px 0px rgb(85, 85, 85);
}

	#registerPageContainer legend {
		font-size: 1.5em;
		position: relative;
		bottom: 14px;
	}

	#registerPageContainer fieldset {
		border: none;
	}

	#registerPageContainer li {
		margin-bottom: 10px;
	}

	#registerPageContainer label {
		width: 230px;
	}


.register-birthdate-txtbox {
	width: 50px !important;
}

.event-startdate-txtbox {
	width: 50px !important;
}


#detailsMenuHeader {
	position: relative;
	top: 20px;
}

#loginPageContainer fieldset {
	border: none;
}

.weekday-container {
	display: table-row;
	color: rgb(145, 145, 145);
}

.weekday {
	display: table-cell;
	text-align: center;
	padding-top: 8px;
}


	.weekday:nth-child(7) {
		color: rgb(255, 124, 124);
	}

.calendar-cell {
	height: 80px;
	display: table-cell;
}

.calendar-cell-placeholder {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.current-month-cell .cell-span-container {
	position: relative;
	top: 56px;
	background: rgb(253, 253, 253);
	height: 24px;
	z-index: 98;
	border-bottom: 1px solid rgb(253,253,253);
}

	.current-month-cell .cell-span-container .cell-month-name-span {
		padding-left: 10px !important;
		color: rgb(184, 184, 184);
	}

.today-cell .cell-span-container {
	position: relative;
	top: 56px;
	background: rgb(244, 255, 155);
	height: 24px;
	z-index: 98;
	border-top: 1px solid white;
}

	.today-cell .cell-span-container .day {
		color: rgb(151, 159, 21);
	}

.other-month-cell .cell-span-container {
	position: relative;
	top: 56px;
	height: 25px;
	z-index: 98;
	border-bottom: 2px solid rgb(228, 222, 202);
	color: white;
	background: #D3CCB8;
}

	.other-month-cell .cell-span-container .cell-month-name-span {
		padding-left: 20px !important;
	}



.calendar-row {
	/*
	height: 84px;
*/
	width: 100%;
	margin: auto;
	display: table-row;
	position: relative;
}

.login-link {
	padding: 0 10px;
	text-decoration: underline;
}

#loginSpanLink {
	font-size: 1.4em;
}

#detailsPanel {
	min-height: 500px;
	padding-top: 20px;
	border-top: 2px solid rgb(245, 242, 231);
	border-left: 3px solid rgb(215, 208, 184);
}

.login-bar-container {
	text-align: right;
	color: gray;
	position: relative;
	top: 80px;
	margin-right: 40px;
}

.lobby-loggedIn-bar {
	overflow: hidden;
	color: rgb(185, 185, 185);
	padding-top: 20px;
	margin-bottom: 120px;
	text-align: center;
}

.today-cell {
	background: white !important;
	border: 2px solid rgb(221, 212, 183) !important;
}

	.today-cell .event-rectangle {
		background: white !important;
		opacity: 1 !important;
	}

.current-month-cell {
	border: 2px solid white;
	background-color: rgb(253,253,253);
	color: black;
	position: relative;
}

	.current-month-cell span {
		color: rgb(109,109,109);
		position: absolute;
		padding-left: 2px;
		padding-right: 5px;
		top: 4px;
	}

.other-month-cell {
	position: relative;
	border: 1px solid white;
	background: rgb(211, 204, 184);
}

	.other-month-cell .cell-span-container span {
		position: absolute;
		padding-left: 2px;
		padding-right: 5px;
		top: 4px;
	}

.side {
	width: 10%;
	height: 100%;
	top: 0px;
	position: absolute;
}

#leftSideCalendar {
	border-top: 1px solid rgb(240,240,240);
	border-bottom: 1px solid rgb(240, 240, 240);
	/*background-image: url("../Images/BackgroundParts/LeftSidePixelDark.png");
	background-repeat: repeat-y;*/
	left: 0px;
	/*background-position: right;*/
	height: 99% !important;
	border-right: 1px solid #EFEEEC;
	background: rgb(237, 233, 217);
}

#rightSideCalendar {
	border-top: 1px solid rgb(240, 240, 240);
	border-bottom: 1px solid rgb(240, 240, 240);
	/*background-image: url("../Images/BackgroundParts/RightSidePixelDark.png");
	background-repeat: repeat-y;*/
	right: 0px;
	/*background-position: left;*/
	border-left: 1px solid #EFEEEC;
	height: 99% !important;
	background: rgb(237, 233, 217);
}

#leftSideDetails {
	/*background-image: url("../Images/BackgroundParts/LeftSidePixelDark.png");
	background-repeat: repeat-y;*/
	left: 0px;
	/*background-position: right;*/
	/*border-right: 1px solid rgb(212, 202, 168);
	background: rgb(223, 215, 188);*/
	background: #D7D0B8;
	border-right: 1px solid #EFEEEC;
}

#rightSideLobby {
	/*background-image: url("../Images/BackgroundParts/RightSidePixelDark.png");
	background-repeat: repeat-y;*/
	right: 0px;
	/*background-position: left;*/
	border-left: 1px solid #EFEEEC;
	background: #D7D0B8;
}

#rightSideLobbyTopPart {
	/*background-image: url("../Images/BackgroundParts/RightSidePixelDark.png");
	background-repeat: repeat-y;*/
	right: 0px;
	height: 16px;
	top: -16px;
	/*background-position: left;*/
	border-left: 1px solid #EFEEEC;
	position: absolute;
	width: 10%;
	background: #D7D0B8;
}

#mainContainer {
	word-spacing: 0px;
	letter-spacing: 0px;
}

.menu-item {
	border-top: 2px solid rgb(190, 182, 155);
	height: 30px;
	color: rgb(133, 123, 100);
	font-size: 0.9em;
	width: 95px;
	text-align: center;
}

.calendar-header-year-container {
	display: inline-block;
}

#calendarHeaderYearArrowUp {
	width: 16px;
	height: 14px;
	background-image: url(../Images/Icons/arrow_up.png);
	position: absolute !important;
	right: 4px !important;
	top: 8px !important;
	margin-bottom: 4px;
	background-repeat: no-repeat;
}

.calendar-year-arrows-container {
	display: inline-block;
}

#calendarHeaderYearArrowDown {
	width: 16px;
	height: 14px;
	background-image: url(../Images/Icons/arrow_down.png);
	position: absolute !important;
	right: 4px !important;
	bottom: 0px !important;
	background-repeat: no-repeat;
}

.menu-item-container {
	display: inline-block;
	position: relative;
	top: 0px;
	margin-bottom: 20px;
	/*background: rgb(245, 240, 223);*/
	/*background: rgb(252, 251, 246);*/
}

.menu-item-number-container {
	color: rgb(202, 197, 197);
	font-size: 2em;
}

.menu-item-number-old {
	font-size: .6em;
}

.menu-item-number-upcoming {
	color: rgb(173, 165, 137);
	text-align: center;
}

.triangle-header {
	width: 40px;
	border-right: 10px solid transparent;
	height: 20px;
	border-top: 10px solid #ddd;
	float: right;
	position: absolute;
}

.show-old-events-checkbox {
	vertical-align: bottom;
	border: 2px solid rgb(255, 250, 232);
	height: 22px;
	width: 22px;
	text-align: center;
	padding: 4px;
	border-radius: 4px;
	display: inline-block;
}

#detailsPageAllEventsListContainer {
	margin-left: 1.8%;
	margin-top: 50px;
}

#lobbyPageAllEventsListContainer {
	margin: 1.8%;
	margin-top: 30px;
}

#addNewEventContainer {
	top: 25px;
	position: absolute;
	z-index: 101;
	width: 80%;
	display: none;
	/*border:1px solid #5E5757;*/
	left: 10%;
}

.form-header {
	width: 100%;
	height: 30px;
}

.btn-close {
	position: relative;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.close-text {
	color: rgb(117, 117, 117);
	font-size: 1.4em;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(238, 238, 238);
	padding-left: 30px;
	padding-right: 10px;
	padding-bottom: 2px;
	background: rgb(245, 132, 132);
	border-radius: 3px;
}

.save-text {
	color: rgb(117, 117, 117);
	font-size: 1.4em;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(238, 238, 238);
	padding-left: 30px;
	padding-right: 10px;
	padding-bottom: 2px;
	background: rgb(113, 225, 142);
	border-radius: 3px;
}

.add-event-fieldset {
	color: rgb(155, 155, 155);
	border: none;
	margin: 0 auto;
	width: 400px;
	padding-bottom: 20px;
}

	.add-event-fieldset label {
		width: 140px;
		display: inline-block;
	}

.add-event-form-container {
	margin: 0 auto;
}

.light-icon {
	color: white;
	background: rgb(225,225,225);
}

.dark-icon {
	/*
background:rgb(115, 233, 162);
*/
	background: rgb(188,188,188);
	color: white;
}

.addNewEvent-cellIcon {
	width: 40px;
	height: 20px;
	position: absolute;
	right: 1px;
	top: 2px;
	text-align: center;
	display: none;
	z-index: 99;
}

.title-label {
	width: 100% !important;
}


.cell-line-style {
	position: absolute;
	width: 1px;
}

.event-rectangle {
	overflow: hidden;
	position: absolute;
	z-index: 2;
	border-top: 4px solid;
	height: 23px;
	color: rgb(102, 102, 102);
	font-size: 12px;
	line-height: 1;
	background: none;
	font-family: Raleway-Regular;
	opacity: 1;
}

.small-minutes {
	font-size: 10px;
	vertical-align: top;
}

.event-rectangle-details {
	color: rgb(232,232,232);
	overflow: hidden;
	position: absolute;
	z-index: 2;
	border-top: 4px solid;
	height: 40px;
	line-height: 1;
}

.hover-cursor-pointer {
}

	.hover-cursor-pointer:hover {
		cursor: pointer;
	}

.event-hover-container {
	display: none;
	position: absolute;
	background: url(../Images/point.png) repeat scroll 0 0 transparent;
	z-index: 100;
	color: white;
	border: 1px solid #adff2f;
	box-shadow: 1px 0px 40px 0px rgb(85, 85, 85);
}

.confirmation-popupbox-yesbtn {
	position: relative;
}

.confirmation-popupbox-nobtn {
	position: relative;
}

.confirmation-popupbox-container {
	position: absolute !important;
	padding: 20px 0;
	width: 80%;
	left: 5%;
	top: 100px;
	/*background: white;*/
	z-index: 100;
	text-align: center;
}

.confirmation-popupbox-maintext {
	color: gray;
	font-size: 2em;
}

.details-delete-event-link {
	color: gray;
}

.line-through-text {
	text-decoration: line-through;
}

.details-edit-event-link {
	color: gray;
}

#spinnerText {
	position: absolute;
	bottom: 20px;
	left: 40px;
	z-index: 10001;
	color: white;
	font-size: 2em;
}

.title-header {
	text-align: left;
	font-size: 2em;
	color: rgb(167, 164, 154);
	padding: 10px;
	top: 20px;
	padding-bottom: 20px;
	position: relative;
	/*background: rgb(190, 182, 155);
	border-bottom: 2px solid rgb(174, 168, 144);
	border-top: 2px solid rgb(174, 168, 144);*/
}

.selected-content-container {
	display: none;
	margin-bottom: 50px;
}

.left-event-details {
	float: left;
	position: relative;
}

.right-event-details {
	float: left;
	width: 24%;
}

.margin-left-285 {
	margin-left: 285px;
}

.margin-left-150 {
	margin-left: 150px;
}

.current-weekday {
	color: rgb(148, 138, 111);
	border: 1px solid rgb(223,223,223);
	background: white;
}

.year-header-container {
	text-align: center;
}

#addPrivateEventBtn {
	display: block;
	margin: 0 auto;
	width: 200px;
}

#addPublicEventBtn {
	margin-left: 10px;
}

#lobbyTableOfEventsSection {
	display: block;
	text-align: center;
	border-top: 2px solid rgb(250, 248, 240);
	padding-top: 4px;
	padding-bottom: 10px;
	border-right: 3px solid rgb(215, 208, 184);
}

#endDateValidationErrorMsg {
	color: #f00 !important;
}

.add-btn {
	padding: 10px;
	color: gray;
	text-align: center;
	display: inline-block;
	margin-bottom: 10px;
	background: rgb(250, 248, 240);
	border-radius: 6px;
}

.year-name-container {
	background: white;
	letter-spacing: 1px;
	color: rgb(148, 138, 111);
	display: inline-block;
	padding-bottom: 4px;
	padding-top: 5px;
	padding-left: 14px;
	padding-right: 30px;
	font-size: 18px;
	box-shadow: 0px 5px 20px -5px rgb(151, 151, 151);
	position: relative;
}

#showRegisterFormBtn {
	margin-left: 20px;
	margin-right: 4px;
	color: rgb(87, 87, 87);
}

#siteNavLegendContainer {
	text-align: center;
	position: relative;
	font-size: .8em;
	color: rgb(184,184,184);
	visibility: hidden;
}

	#siteNavLegendContainer span {
		border-top: 1px solid rgb(216,216,216);
	}

.site-legend-border {
	height: 14px;
	width: 3px;
	padding-right: 13px;
	display: inline-block;
	border-right: 1px solid rgb(216,216,216);
}

#showLoginFormBtn {
	margin-left: 20px;
	margin-right: 4px;
	color: rgb(87, 87, 87);
}

.link {
	/*text-decoration: underline;*/
}

.note-content {
	overflow: hidden;
	border-bottom: 1px solid rgb(237, 233, 217);
	list-style-position: inside;
}

.li-note-container {
	list-style-position: inside;
}

.link:hover {
	cursor: pointer;
}

.lobby-profile-menu {
}

.event-list-date-header {
	width: 150px;
	margin: 0 auto;
	text-align: center;
	color: rgb(114,114,114);
	/*background:#F0F8FF*/
	/*background: rgb(32, 32, 32);*/
	border-top: 1px solid rgb(255, 255, 255);
}

.events-text-container {
	text-align: left;
	display: none;
}

.events-text-name {
	font-size: 1.2em;
}

.event-title-container {
	padding: 0 10px;
}

	.event-title-container a {
		color: rgb(253,253,253);
	}


.lobby-footer {
	text-align: center;
}



.margin-left-fifteen {
	margin-left: 15px;
}

.padding-top-ten {
	padding-top: 10px;
}

.div-separator {
	margin-top: 10px;
}

	.div-separator label {
		display: block;
	}

#todayDateDay {
	font-size: 70px;
	display: inline-block;
	color: white;
	padding-left: 5px;
}

#todayDateDayName {
	color: white;
	font-size: 20px;
	position: relative;
	bottom: 116px;
	padding-left: 90px;
}

#todayDateMonth {
	font-size: 30px;
	position: relative;
	bottom: 125px;
	padding-left: 88px;
}



#todayDateYear {
	font-size: 1.5em;
	position: relative;
	bottom: 134px;
	text-align: left;
	padding-left: 88px;
}

#todayDateAndTimeContainer {
	color: rgb(252, 255, 230);
	margin-left: 20px;
	width: 200px;
	float: left;
	position: relative;
	height: 100px;
	font-family: Raleway-Regular;
}

.event-list {
	width: 85%;
	margin: 0 auto;
	color: gray;
	font-size: 1em;
	overflow: hidden;
}

.calendar-listview-day {
	width: 100%;
	border: 1px solid black;
	margin: 10px 0;
}

.lobby-user-nickname {
	margin-right: 15px;
	font-size: 2em;
	vertical-align: baseline;
	position: relative;
	top: 2px;
	color: rgb(205, 198, 180);
}

.event-kind-text {
	color: rgb(240,240,240);
	width: 100px;
	border: 1px solid rgb(224,224,224);
}

.events-text-author-container {
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: .8em;
}

.szkolenia-border-tab {
	border-bottom: 10px solid rgb(185, 205, 255);
}

.lekcje-border-tab {
	border-bottom: 10px solid rgb(255, 232, 189);
}

.kursy-border-tab {
	border-bottom: 10px solid rgb(200, 200, 200);
}

.spotkania-border-tab {
	border-bottom: 10px solid rgb(194, 255, 212);
}

.wydarzenia-border-tab {
	border-bottom: 10px solid rgb(255, 255, 196);
}

.inne-border-tab {
	border-bottom: 10px solid rgb(255, 204, 204);
}

.zajecia-border-tab {
	border-bottom: 10px solid rgb(193, 241, 255);
}

#slide-item-details {
	position: relative;
}

#slide-item-calendar {
	position: relative;
}

#slide-item-lobby {
	position: relative;
}

#calendarDayDetailsContainer {
	border-left: 3px solid rgb(215, 208, 184);
	border-top: 2px solid rgb(245, 242, 231);
}

#notesContainer {
	float: right;
	vertical-align: top;
	width: 47%;
	margin-right: 1%;
}

.notes-shadow-box {
	position: relative;
	background: rgb(250, 250, 250);
	border-radius: 4px;
	padding: 2em 1.5em;
	color: rgba(0,0,0, .8);
}

	.notes-shadow-box::before, .notes-shadow-box::after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width: 300px;
		background: rgb(184, 168, 137);
		box-shadow: 0 15px 10px rgb(184, 168, 137);
		transform: rotate(-3deg);
	}

	.notes-shadow-box::after {
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}

#detailsEventsAndNotesContainer {
	overflow: hidden;
	padding-bottom: 40px;
	width: 90%;
}

.close-btn-x {
	float: right;
	color: rgb(223, 215, 188);
	padding: 0 10px;
}

#calendarDayDetailsTable {
	position: relative;
	padding: 0px 2%;
	padding-bottom: 20px;
	padding-top: 10px;
	width: 88%;
	/*background:rgb(214, 210, 193);*/
}

	#calendarDayDetailsTable .table-details-head {
		overflow: hidden;
		text-align: left;
		color: rgb(123, 118, 106);
		padding-top: 20px;
		font-size: 18px;
	}

		#calendarDayDetailsTable .table-details-head div {
			float: left;
			width: 7.14%;
		}

	#calendarDayDetailsTable .table-details-body {
		background: rgb(151, 148, 134);
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 1px;
		border: 3px solid rgb(122, 115, 103);
		border-bottom: 3px solid rgb(108, 102, 91);
	}

		#calendarDayDetailsTable .table-details-body .details-day-cell {
			float: left;
			width: 7.14%;
		}

.month-name-container {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}


.month-name-calendar {
	color: rgb(195, 187, 177);
	text-decoration: underline;
}

#lobbyEventsDisplaySection {
	margin: 0 auto;
	text-align: center;
}

#lobbyEventsDisplayListContainer {
	overflow: hidden;
	border-top: 2px solid rgb(250, 248, 240);
	padding-top: 40px;
	padding-bottom: 40px;
	border-right: 3px solid rgb(215, 208, 184);
}

.current-month-name-calendar {
	color: rgb(148, 138, 111);
	padding: 10px 10px 5px 10px;
	background: white;
	box-shadow: 0px 5px 20px -5px rgb(151, 151, 151);
}

.calendar-eventSummary-btn {
	margin-right: 20px;
}

	.calendar-eventSummary-btn img {
	}

.details-day-cell {
	position: relative;
	height: 100%;
	width: 100%;
}

.details-hour-line {
	position: absolute;
	background: rgb(172, 170, 159);
	height: 100%;
	width: 1px;
}

.details-hour-line-21 {
	position: absolute;
	background: rgb(187, 180, 164);
	height: 100%;
	width: 1px;
	right: 0px;
}

#logoutForm {
	display: inline-block;
}

.form-label {
	display: block;
}

#loginPageContainer li {
	margin-bottom: 10px;
}

.summary-validation-errors {
	color: red;
	margin-left: 40px;
}




.myButton-white {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	outline: none;
	text-shadow: 0px 1px 0px #ffffff;
}

	.myButton-white:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
		background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
		background-color: #f6f6f6;
		cursor: pointer;
	}

	.myButton-white:active {
		position: relative;
		top: 1px;
		outline: none;
	}

.float-left {
	float: left;
}

#loginFormBtn {
	float: right;
	margin-right: 7px;
	margin-top: 20px;
}

#registerFormBtn {
	margin-top: 30px;
	margin-left: 140px;
}

#spinnerContainer {
	position: absolute;
	width: 200px;
	height: 200px;
	padding: 20px;
	text-align: center;
	z-index: 10001;
	display: none;
}

.slick-contact-form {
	background: #f7f2ec url('/Images/Form/letter_bg.png');
	position: relative;
	overflow: hidden;
	border: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 1px 0px 40px 0px rgb(85, 85, 85);
}

	.slick-contact-form label {
		color: white;
		padding: 10px;
		margin-bottom: -5px;
		padding-bottom: 5px;
		text-transform: uppercase;
		background: rgba(194, 175, 129, 0.4);
	}

	.slick-contact-form legend {
		color: #808080;
		font-size: 1.6em;
		position: relative;
		bottom: 12px;
	}

	.slick-contact-form input[type=text], input[type=password], textarea, select {
		color: #8B836B;
		background: rgba(211, 203, 178, 0.4);
		/*background: rgb(194, 185, 159);*/
		width: 220px;
		height: 36px;
		padding: 0px 10px;
		border: 2px solid #f8f5f1;
		border-radius: 5px;
		box-shadow: inset 0px 0px 1px #b3a895;
		outline: none;
	}

	.slick-contact-form textarea {
		height: 80px;
		padding-top: 14px;
	}

	.slick-contact-form .time-select-box {
		width: 70px !important;
	}

	.slick-contact-form #kindSelectBox {
		width: 150px !important;
	}

	.slick-contact-form textarea:focus, input[type=text]:focus, input[type=password]:focus select:focus {
		background: rgba(255,255,255,.35);
		border: 2px solid white;
		color: gray;
	}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #AEA68C;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #AEA68C;
	opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #AEA68C;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #AEA68C;
}

#addNewEventShowMoreOptionsLink {
	margin-bottom: 20px;
}

/*
helpers
*/

.text-align-center {
	text-align: center;
}


/*
Slider
*/

#slides {
	position: relative;
}

	#slides .slides-container {
		display: none;
	}

	#slides .scrollable {
		*zoom: 1;
		position: relative;
		top: 0;
		left: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

		#slides .scrollable:after {
			content: "";
			display: table;
			clear: both;
		}

.slides-pagination {
	position: relative;
	z-index: 3;
	top: 0;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}

	.slides-pagination a {
		border: 2px solid rgb(221,221,221);
		border-radius: 15px;
		width: 10px;
		height: 10px;
		display: inline-block;
		margin: 2px;
		background: #F0EDE7;
	}

		.slides-pagination a.current {
			background: rgb(240, 255, 226);
		}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	width: auto;
}


legend {
	font-size: 1.2em;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00 !important;
	background-color: #fee !important;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}


/*Settings*/

#settingsContainer {
	width: 90%;
}

#updateProfileContainer {
	margin-top: 20px;
	margin-left: 20px;
	width: 400px;
	box-shadow: none;
	position: relative;
}

	#updateProfileContainer label {
		/*color:rgb(38,38,38);
	text-shadow:0px 1px 0px #F5F5F5;*/
	}

	#updateProfileContainer fieldset {
		border: none;
	}

#updateUserFormBtn {
	margin: 20px;
	position: relative;
	left: 102px;
	display: none;
}

.btn-expand {
	position: absolute;
	right: 20px;
	top: 16px;
	height: 30px;
}

/*event block*/
.event-block-info-container {
	position: relative;
	z-index: 1;
	color: rgb(250, 250, 250);
	padding-top: 60px;
	top: -45px;
}

.event-block-user-options {
	position: absolute;
	right: 0;
	text-align: center;
}

.event-block-info-body {
	padding: 10px;
	background: rgba(200, 194, 172, .8);
	overflow: hidden;
	text-align: left;
}

.details-event-block-info-body {
	color: rgb(250, 250, 250);
}


.event-block-info-footer {
	padding: 10px;
	border-top: 1px solid rgb(250, 250, 250);
	overflow: hidden;
	color: gray;
	background: rgb(248, 245, 235);
}

.details-event-block-info-footer {
	margin-bottom: 10px;
	overflow: hidden;
}

.event-block-container {
	display: inline-block;
	width: 32%;
	vertical-align: top;
	margin: 4px;
}

	.event-block-container .name-label {
		font-size: 1.8em;
		height: 52px;
		line-height: 1;
		padding-bottom: 4px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.event-block-container .address-label {
		color: rgb(192, 187, 172);
		font-size: 1.2em;
	}

	.event-block-container .hour-label {
	}

	.event-block-container .date-label {
	}

	.event-block-container .hour-date-label-container {
		float: right;
		display: inline-block;
		text-align: right;
		color: rgb(192, 187, 172);
		position: relative;
		bottom: 6px;
		font-size: 1.4em;
	}

.event-block-header {
	padding: 10px;
	padding-left: 0px;
	padding-bottom: 0px;
	overflow: hidden;
}

.event-block-body {
	color: #ECE7DF;
}

.details-event-block-container {
	text-align: left;
	padding: 0 20px;
	border-radius: 6px;
	background: rgb(223, 215, 188);
	border: 1px solid rgb(244, 241, 231);
	position: relative;
}

.event-shadow-box {
	position: relative;
}

	.event-shadow-box:before, .event-shadow-box:after {
		content: "";
		position: absolute;
		z-index: -1;
		-webkit-box-shadow: 0 0 20px rgba(164, 147, 122, 1);
		-moz-box-shadow: 0 0 20px rgba(164, 147, 122, 1);
		box-shadow: 0 0 20px rgba(164, 147, 122, 1);
		top: 10px;
		bottom: 10px;
		left: 0;
		right: 0;
		-moz-border-radius: 100px / 10px;
		border-radius: 100px / 10px;
	}

	.event-shadow-box:after {
		right: 10px;
		left: auto;
		-webkit-transform: skew(8deg) rotate(3deg);
		-moz-transform: skew(8deg) rotate(3deg);
		-ms-transform: skew(8deg) rotate(3deg);
		-o-transform: skew(8deg) rotate(3deg);
		transform: skew(8deg) rotate(3deg);
	}

#notesList li {
	font-size: 1.6em;
}

.details-event-block {
	margin-top: 20px;
}

.details-event-block-body {
	color: rgb(126, 116, 101);
}

.details-event-block-label {
	display: inline-block;
	width: 80px;
}

.event-block {
	height: 150px;
	background: rgb(129, 127, 112);
	color: rgb(192, 180, 153);
	box-shadow: 2px 2px 10px rgb(166, 158, 146);
	overflow: hidden;
	position: relative;
	padding: 10px;
	text-align: left;
	z-index: 2;
	border: 2px solid #E9E5D4;
}

.today-day-header-calendar {
	box-shadow: 0px 5px 20px -5px rgb(151, 151, 151);
	color: rgb(148, 138, 111);
	display: inline-block;
	font-size: 18px;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-bottom: 4px;
	padding-right: 14px;
	padding-left: 14px;
	background: white;
}

.event-block-footer {
}

.event-block-info-name {
	font-size: 1.6em;
	color: white;
}

.event-block-info-description {
	line-height: 1;
	font-size: 1.2em;
}

.event-block-info-details {
	line-height: 1;
	font-size: 1.2em;
}

.event-block-info-time {
	font-size: 1.6em;
	line-height: 1;
	color: rgb(106, 106, 106);
	margin-bottom: 10px;
	padding: 4px 4px;
}

.details-event-block-info-time {
	font-size: 1.4em;
	line-height: 1;
	color: rgb(87, 80, 64);
	margin-bottom: 10px;
	padding: 4px 4px;
}

.event-block-info-date {
	font-size: 1.6em;
	line-height: 1;
	color: rgb(106, 106, 106);
	margin-bottom: 10px;
	padding: 4px 4px;
}

.event-block-info-address {
	font-size: 1.4em;
	line-height: 1;
	color: rgb(106, 106, 106);
	margin-bottom: 10px;
	padding: 4px 4px;
}

.event-block-info-price {
	font-size: 1.4em;
	line-height: 1;
	color: rgb(106, 106, 106);
	margin-bottom: 10px;
	padding: 4px 4px;
}

.event-block-info-occupancyLimit {
	font-size: 1.4em;
	line-height: 1;
	color: rgb(106, 106, 106);
	margin-bottom: 10px;
	padding: 4px 4px;
}

.details-event-block-info-date {
	font-size: 1.4em;
	line-height: 1;
	color: rgb(87, 80, 64);
	margin-bottom: 10px;
	padding: 4px 4px;
}

.details-event-block-info-price {
	font-size: 1.4em;
	color: rgb(87, 80, 64);
	margin-bottom: 10px;
	padding: 4px 4px;
}


.details-event-block-info-occupancyLimit {
	font-size: 1.4em;
	line-height: 1;
	color: rgb(87, 80, 64);
	margin-bottom: 10px;
	padding: 4px 4px;
}

.details-event-block-info-address {
	font-size: 1.4em;
	line-height: 1;
	color: rgb(87, 80, 64);
	padding: 4px 4px;
}

.event-block-info-link {
	font-size: 1.2em;
}

.details-event-block-info-link {
	font-size: 1.2em;
}

.event-block-info-addedby {
	text-align: right;
}

.details-event-block-info-addedby {
	text-align: left;
	color: rgb(87, 80, 64);
}
