/****************************************/
/*theme-default-dark*/
/****************************************/
.skin-theme-default-dark {
}

	.skin-theme-default-dark.skin-app-background {
		background: #424242;
	}

	.skin-theme-default-dark .skin-nav-part {
		/*background: rgb(47, 47, 47);
		border-right: 1px solid #2F2F2F;*/
		background: #424242;
	}

	.skin-theme-default-dark .skin-prev-arrow {
		border: 2px solid #777777;
		background: #565656;
	}

	.skin-theme-default-dark .skin-next-arrow {
		border: 2px solid #777777;
		background: #565656;
	}

	.skin-theme-default-dark .skin-up-arrow {
		border: 2px solid #777777;
		background: #565656;
		padding: 6px;
	}

	.skin-theme-default-dark .skin-down-arrow {
		border: 2px solid #777777;
		background: #565656;
		padding: 6px;
	}

	.skin-theme-default-dark .dz-horizontal-paging-item {
		border: 2px solid #EAEAEA;
	}

		.skin-theme-default-dark .dz-horizontal-paging-item.current {
			border: 2px solid #424242;
			background: #EAEAEA;
		}

	.skin-theme-default-dark .dz-vertical-paging-item {
		border: 2px solid #EAEAEA;
	}

		.skin-theme-default-dark .dz-vertical-paging-item.current {
			border: 2px solid #424242;
			background: #EAEAEA;
		}

	.skin-theme-default-dark .skin-login-bar {
		color: #B3B3B3;
	}

	.skin-theme-default-dark .skin-nav-item {
		color: #777777;
		text-shadow: 1px 2px 2px #000000;
		font-size: 1.2em;
		margin-right: 10px;
	}

		.skin-theme-default-dark .skin-nav-item.selected {
			border-bottom: 2px solid #b5e4ec;
			color: #DADADA !important;
		}

	.skin-theme-default-dark #lobby .dz-column-inner-wrapper {
		border-right: none;
		background: #FBFAF9;
	}

	.skin-theme-default-dark .skin-brightness-icon {
		font-size: 2em;
		color: #9C9C9C;
	}

		.skin-theme-default-dark .skin-brightness-icon:hover {
			color: wheat;
			cursor: pointer;
		}

		.skin-theme-default-dark .skin-brightness-icon:before {
			content: "\f0e0";
		}

	.skin-theme-default-dark #dzHorizontalPaging {
		border-bottom: 1px solid #777777;
	}










/****************************************/
/*theme-default-light*/
/****************************************/
.skin-theme-default-light {
}

	.skin-theme-default-light.skin-app-background {
		background: white;
	}

	.skin-theme-default-light .skin-nav-part {
		/*background: rgb(47, 47, 47);
		border-right: 1px solid #2F2F2F;*/
		background: #FBFAF9;
	}

	.skin-theme-default-light .skin-prev-arrow {
	}

	.skin-theme-default-light .skin-next-arrow {
	}

	.skin-theme-default-light .skin-up-arrow {
	}

	.skin-theme-default-light .skin-down-arrow {
	}

	.skin-theme-default-light .dz-horizontal-paging-item {
		border: 2px solid #4C4C4C;
	}

		.skin-theme-default-light .dz-horizontal-paging-item.current {
			border: 2px solid white;
			background: #4C4C4C;
		}

	.skin-theme-default-light .dz-vertical-paging-item {
		border: 2px solid #4C4C4C;
	}

		.skin-theme-default-light .dz-vertical-paging-item.current {
			border: 2px solid white;
			background: #4C4C4C;
		}

	.skin-theme-default-light .skin-login-bar {
		color: #B3B3B3;
	}

	.skin-theme-default-light .skin-nav-item {
		color: rgb(197, 197, 197);
		text-shadow: none;
		font-size: 1.2em;
		margin-right: 10px;
	}

		.skin-theme-default-light .skin-nav-item.selected {
			border-bottom: 2px solid #b5e4ec;
			color: rgb(76, 76, 76) !important;
			text-shadow: rgb(146, 146, 146) 0px 1px 1px;
		}

	.skin-theme-default-light #lobby .dz-column-inner-wrapper {
		border-right: 1px solid rgb(243, 243, 243);
		background: #FBFAF9;
	}

	.skin-theme-default-light .skin-brightness-icon {
		font-size: 2em;
		/*color: wheat;*/
		color: #DCDCDC;
	}

		.skin-theme-default-light .skin-brightness-icon:before {
			content: "\f0de";
		}

		.skin-theme-default-light .skin-brightness-icon:hover {
			color: wheat;
			cursor: pointer;
		}

	.skin-theme-default-light #dzHorizontalPaging {
		border-bottom: 1px solid rgb(243, 243, 243);
	}



/****************************************/
/*theme-default-gray*/
/****************************************/
.skin-theme-default-gray {
}

	.skin-theme-default-gray.skin-app-background {
		background: #EAEAEA;
	}

	.skin-theme-default-gray .skin-nav-part {
		background: #EAEAEA;
	}

	.skin-theme-default-gray .skin-prev-arrow {
		/*border: 2px solid #ADADAD;*/
	}

	.skin-theme-default-gray .skin-next-arrow {
		/*border: 2px solid #ADADAD;*/
	}

	.skin-theme-default-gray .skin-up-arrow {
		/*border: 2px solid #ADADAD;
		padding: 6px;*/
	}

	.skin-theme-default-gray .skin-down-arrow {
		/*border: 2px solid #ADADAD;
		padding: 6px;*/
	}

	.skin-theme-default-gray .dz-horizontal-paging-item {
	}

		.skin-theme-default-gray .dz-horizontal-paging-item.current {
			border: 2px solid #424242 !important;
		}

	.skin-theme-default-gray .dz-vertical-paging-item {
	}

		.skin-theme-default-gray .dz-vertical-paging-item.current {
			border: 2px solid #424242 !important;
		}

	.skin-theme-default-gray .skin-login-bar {
		color: black;
	}

	.skin-theme-default-gray .skin-nav-item {
		color: #777777;
		text-shadow: none;
		font-size: 1.2em;
		margin-right: 10px;
	}

		.skin-theme-default-gray .skin-nav-item.selected {
			border-bottom: 2px solid #b5e4ec;
		}

	.skin-theme-default-gray #lobby .dz-column-inner-wrapper {
		/*border-right: 1px solid #ADADAD;*/
		/*background: #EAEAEA;*/
		background: #fbfaf9;
	}

	.skin-theme-default-gray .skin-brightness-icon {
		font-size: 2em;
		color: #ADADAD;
	}

		.skin-theme-default-gray .skin-brightness-icon:before {
			content: "\f0df";
		}

		.skin-theme-default-gray .skin-brightness-icon:hover {
			color: wheat;
			cursor: pointer;
		}

	.skin-theme-default-gray #dzHorizontalPaging {
		border-bottom: 1px solid #ADADAD;
		background: #EAEAEA;
	}
