<section id="lobbyEventsMasonryContainer">
	<div class="grid js-masonry" data-bind="masonry: { data: lobbyPage.eventGridPart.publicEventsVM, masonryOptions: { itemClass: 'event-block-container', gutter: 10 } }">
		<div class="event-block-container" data-bind="attr: { 'data-eventid': id }">
			@Html.Partial( "_EventBlock", new ViewDataDictionary { { "page", "lobby" } } )
		</div>
	</div>
</section>
