<div class="news-container">
	<header class="title-header">Aktualności</header>
	<div data-bind="foreach: $root.newsEvents">
		<div data-bind="text: name">
		</div>
	</div>
	<div class="event-list-date-header">
		12.03.2012
	</div>
</div>
