<section class="lobby-loggedIn-bar">
	<div id="addPublicEventBtn" class="add-btn link" data-bind="click: function (data, e) { $root.showAddPublicEventPopupOnClick($element, data, e) }">Stwórz publiczne wydarzenie</div>
	<div id="addPrivateEventBtn" class="add-btn link" data-bind="click: function (data, e) { $root.showAddPrivateEventLobbyPopupOnClick($element, data, e) }">Dodaj do kalendarza</div>
</section>

