
<div class="lobby-content-container">
	@*<div style="background: white; position: relative; width: 100%; height: 24px;"></div>*@
	<div class="lobby-content-body">
		
		<div id="lobby-menu-header" class="site-menu-header">
			<div id="lobbyLogo">
			</div>

			@if (!Request.IsAuthenticated)
			{
				@Html.Partial("_Login", new KalendarzKarieryData.Models.AccountModels.LoginModel())
				@Html.Partial("_Register", new KalendarzKarieryData.Models.ViewModels.RegisterViewModel())
			}

			<div id="lobbyEventSummaryMenu">
				@Html.Partial("_LobbyEventSummaryMenu")
			</div>

			@if (Request.IsAuthenticated)
			{
				@Html.Partial("_LobbyProfileMenu")
			}

		</div>

		<header class="title-header">Aktualności</header>
		<div class="event-list-date-header">
			12.03.2012
		</div>

		<section class="event-list" data-bind="foreach: publicEvents">
			<div class="news-event-details" data-bind="ifnot: kind.kindName == 'Zajęcia', visible: kind.kindName != 'Zajęcia'">
				<div class="left-event-details">
					<div class="event-kind-text" data-bind="text: kind.kindName, style: { background: kind.color }">
					</div>
					<div class="events-text-container margin-left-fifteen padding-top-ten" data-bind="visible: kind.kindName != 'Aktualności'">

						<span data-bind="text: startDate.startHour" class="events-text-startTime"></span><span>:00 - </span><span data-bind="	text: date.endHour" class="events-text-endTime"></span><span>:00</span>
						<div>12.03.2012, Piątek</div>
						<div data-bind="text: adress.street" class="events-text-address"></div>
					</div>
				</div>

				<div class="middle-event-details">

					<div class="event-title-container">
						<a data-bind="text: title" class="events-text-name" href="#"></a>
					</div>

					<div class="events-text-container">
						<div data-bind="text: description" class="events-text-description"></div>
					</div>
				</div>
				<div class="right-event-details">
					<div class="events-text-author-container">
						<div>
							<span>dodano przez: </span><a class="events-text-author" data-bind="text: addedBy" href="#"></a>
						</div>
						<div>
							10:47 10.12.2013 
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<footer class="lobby-footer">
		Kalendarz Kariery 2014, wszelkie prawa zastrzezone
	</footer>

</div>



