<div class="menu-item-container">
				<div class="border-item inne-border-tab"></div>
				<div class="menu-item" name="inne"><span>Inne</span></div>
			
			</div>
			<div class="menu-item-container">
				<div class="border-item spotkania-border-tab"></div>
				<div class="menu-item" name="spotkania"><span>Spotkania</span></div>
			
			</div>
			<div class="menu-item-container">
				<div class="border-item kursy-border-tab"></div>
				<div class="menu-item" name="kursy"><span>Kursy</span></div>
			
			</div>
			<div class="menu-item-container">
				<div class="border-item szkolenia-border-tab"></div>
				<div class="menu-item" name="szkolenia"><span>Szkolenia</span></div>

			</div>
			<div class="menu-item-container">
				<div class="border-item zajecia-border-tab"></div>
				<div class="menu-item" name="zajęcia"><span>Zajęcia</span></div>
			
			</div>
			<div class="menu-item-container">
				<div class="border-item wydarzenia-border-tab"></div>
				<div class="menu-item" name="wydarzenia"><span>Wydarzenia</span></div>
			
			</div>