<div class="inline-block width-49per">
	<div data-bind="visible: price != 0 && price != ''" class="event-block-price">
		<span>opłata za wstęp:</span>
		<span data-bind="text: price + 'zł.'"></span>
	</div>
	<div data-bind="visible: occupancyLimit != null && occupancyLimit != ''" class="event-block-occupancylimit">
		<span>limit miejsc:</span>
		<span data-bind="text: occupancyLimit"></span>
	</div>
	<p class="event-block-link">
		<a data-bind="attr: { href: 'http://' + urlLink, title: name }, text: urlLink" target="_blank"></a>
	</p>
	<div class="event-block-addedby">
		<div data-bind="text: addedBy"></div>
		<span data-bind="text: dateAdded.displayFullTime()"></span><span>&nbsp;&nbsp;</span><span data-bind="	text: dateAdded.displayFullDate()"></span>
	</div>
</div>
<div class="inline-block width-49per">
	<p class="event-block-details" data-bind="text: details"></p>
</div>

<div class="event-block-menu">
	<div data-bind="ifnot: isEventAddedToCurrentUserCalendar">
		<div data-bind="click: function () { $root.addPublicEventToMyCalendarOnClick( $element, id, startDate.year, startDate.month, startDate.day ) }" class="hover-cursor-pointer event-block-user-option">
			<span>dodaj do mojego kalendarza +</span>
		</div>
	</div>
	<div data-bind="if: isEventAddedToCurrentUserCalendar">
		<div class="event-block-calendar-icon hover-cursor-pointer" data-bind="click: function () { $root.moveToDetailsDayOnEventCalendarIconClick( id, startDate.year, startDate.month, startDate.day ) }">
		</div>
		<div>
			<span>dodane do mojego kalendarza ✓</span>
		</div>
	</div>
	<div data-bind="if: isCurrentUserSignedUpForEvent">
		<div>
			<span>zgłoszono chęć uczestnictwa ✓</span>
		</div>
	</div>
	<div data-bind="ifnot: isCurrentUserSignedUpForEvent">
		<div data-bind="click: function () { $root.signUpUserForEventOnClick( $element, id, startDate.year, startDate.month, startDate.day ) }" class="hover-cursor-pointer event-block-user-option">
			<span>zgłaszam chęć uczestnictwa</span>
		</div>
	</div>
</div>


