<section class="dz-row nav-part">
	@Html.Partial( "_NavPart" )
</section>
<section class="dz-row dashboard-part">
	<header class="section-title">Przegląd</header>
	@Html.Partial( "_DashboardPart" )
</section>
<section class="dz-row upcoming-events-part">
	<header class="section-title">Nadchodzące publiczne wydarzenia</header>
	@Html.Partial( "_UpcomingEventsPart" )
</section>
<section class="dz-row event-grid-part">
	<header class="section-title">Tablica publicznych wydarzeń</header>
	@Html.Partial("_EventGridPart")
	<footer class="lobby-footer">
		<span style="text-align: center;">Kalendarz Kariery 2017, wszelkie prawa zastrzeżone</span>
	</footer>
</section>







