<div id="lobbyPageAllEventsListContainer" style="display: none;">
	<div style="margin-bottom: 4px; padding: 5px; color: rgb(194, 255, 207); /* color: rgb(153, 211, 165); */
/* border-top: 1px solid rgb(187, 187, 187); */
/* border-left: 1px solid white; */
border-bottom: 1px solid rgb(255, 255, 255); /* border-right: 1px solid rgb(214,214,214); */
background: rgba(0, 0, 0, 0.34);">
		Wybrane ogłoszenia:
	</div>
	<div data-bind="foreach: $root.lobbyPageAllSelectedEvents" style="position: relative; left: 1px;">
		<div data-bind="if: startDate.javascriptStartDate <= $root.todayDate.javascriptStartDate">
			<div style="display: inline-block; width: 300px; margin-bottom: 2px; padding: 5px; vertical-align: top; background: rgb(209,209,209); color: white;" data-bind="	text: name"></div>
			<div style="display: inline-block; padding: 5px; background: rgb(180,180,180);" data-bind="text: kind.name, style: { color: kind.headerColor }"></div>
			<div style="display: inline-block; color: white; padding: 5px; background: rgb(209,209,209);" data-bind="text: startDate.displayFullDate()"></div>
			<div style="display: inline-block; color: white; padding: 5px; background: rgb(209,209,209);" data-bind="text: startDate.displayFullTime()"></div>
		</div>

		<div data-bind="if: startDate.javascriptStartDate > $root.todayDate.javascriptStartDate">
			<div style="display: inline-block; width: 300px; margin-bottom: 2px; padding: 5px; vertical-align: top; background: rgb(173, 151, 151); color: white;" data-bind="text: name"></div>
			<div style="display: inline-block; padding: 5px; background: rgb(130,130,130);" data-bind="text: kind.name, style: { color: kind.headerColor }"></div>
			<div style="display: inline-block; color: white; padding: 5px; background: rgb(173, 151, 151);" data-bind="text: startDate.displayFullDate()"></div>
			<div style="display: inline-block; color: white; padding: 5px; background: rgb(173, 151, 151);" data-bind="text: startDate.displayFullTime()"></div>
		</div>
	</div>
</div>
