
<div class="event-block-info-container" style="display: none;">
	<div class="event-block-info-body">
		<div class="event-block-info-name">
			<span data-bind="text: name"></span>
		</div>
		<div class="event-block-info-description">
			<p data-bind="text: description"></p>
		</div>
		<div class="event-block-info-details">
			<p data-bind="text: details"></p>
		</div>
		<div class="event-block-info-time">
			<div style="display: inline-block; width: 100px; font-size: .8em;">godzina:</div>
			<span data-bind="text: startDate.displayFullTime()"></span>
		</div>
		<div class="event-block-info-date">
			<div style="display: inline-block; width: 100px; font-size: .8em;">data:</div>
			<span data-bind="text: startDate.displayFullDate()"></span>
		</div>
		<div data-bind="visible: ( address.street != '' && address.street != null ) || ( address.city != '' && address.city != null )" class="event-block-info-address">
			<div style="display: inline-block; width: 100px; font-size: .8em; vertical-align: top;">adres:</div>
			<div style="display: inline-block;">
				<div data-bind="text: address.street"></div>
				<span data-bind="text: address.zipCode"></span><span data-bind="text: ' ' + address.city"></span>
			</div>
		</div>
		<div data-bind="visible: price != 0 && price != ''" class="event-block-info-price">
			<div style="display: inline-block; width: 100px; font-size: .8em;">opłata za wstęp:</div>
			<span data-bind="text: price + 'zł.'"></span>
		</div>
		<div data-bind="visible: occupancyLimit != null && occupancyLimit != ''" class="event-block-info-occupancyLimit">
			<div style="display: inline-block; width: 100px; font-size: .8em;">limit miejsc:</div>
			<span data-bind="text: occupancyLimit"></span>
		</div>
		<div class="event-block-info-link">
			<p>
				<a data-bind="attr: { href: 'http://' + urlLink, title: name }, text: urlLink" target="_blank"></a>
			</p>
		</div>
		<div class="event-block-info-addedby">
			<div><span data-bind="text: addedBy"></span></div>
			<span data-bind="text: dateAdded.displayFullTime()"></span><span>&nbsp;&nbsp;</span><span data-bind="text: dateAdded.displayFullDate()"></span>
		</div>
	</div>
	<div class="event-block-info-footer">
			<div data-bind="if: addedBy.toUpperCase() != $root.userName.toUpperCase()"><span data-bind="click: function () { $root.addPublicEventToMyCalendarOnClick(id, startDate.year, startDate.month, startDate.day) }" class="hover-cursor-pointer event-block-user-option">dodaj do mojego kalendarza +</span></div>
			<div style="border: 1px solid #D3C8A8; border-right: none; border-radius: 3px; padding: 2px; padding-left: 10px;max-width:250px;"><span class="hover-cursor-pointer event-block-user-option">zgłaszam chęć uczestnictwa</span></div>
	</div>
</div>


