<div id="lobbyPageAllEventsListContainer" class="display-events-overview-container" data-bind="visible: $root.lobbyPagePublicEventListMenu.isOpen()">
	<header class="display-events-overview-header">
		<span class="display-events-header-menu-title selected hover-cursor-pointer">Publiczne wydarzenia</span>
		<div class="close-btn-x hover-cursor-pointer" data-bind="click: $root.closeAllSelectedEventsListContainerOnClick">x</div>
	</header>
	<div class="display-events-overview-body">
		<div style="padding: 10px;">
			
		</div>
		<div data-bind="foreach: $root.lobbyPagePublicEventListMenu.menuItems.publicEvents.selectedEvents.old" style="padding-left: 100px;">
			<!-- ko if: $index() == 0 -->
			<div class="legend-oldorupcoming">
				stare:
			</div>
			<!-- /ko -->

			<div class="display-events-overview-item">
				<div data-bind="click: function () { $root.expandEventOverviewItemOnClick( $element ) }">
					<div class="list-item-star">
						<img src="~/Images/Icons/star.png" alt="public event star" />
					</div>
					<div class="list-item-title" data-bind="text: name"></div>
					<div class="list-item-other" data-bind="text: startDate.displayFullDate()"></div>
					<div class="list-item-other" data-bind="text: startDate.displayFullTime()"></div>
					<div class="event-kind-tag" data-bind="text: kind.name, style: { color: kind.headerColor }"></div>
				</div>
				<div style="display: none;" class="event-block-container" data-bind="attr: { 'data-eventid': id }">
					<div class="event-block">
						@Html.Partial( "_LobbyEventInfo" )
					</div>
				</div>
			</div>
		</div>
		<div data-bind="foreach: $root.lobbyPagePublicEventListMenu.menuItems.publicEvents.selectedEvents.upcoming" style="padding-left: 100px;">
			<!-- ko if: $index() == 0 -->
			<div class="legend-oldorupcoming">
				nadchodzące:
			</div>
			<!-- /ko -->

			<div class="display-events-overview-item">
				<div data-bind="click: function () { $root.expandEventOverviewItemOnClick( $element ) }">
					<div class="list-item-star">
						<img src="~/Images/Icons/star.png" alt="public event star" />
					</div>
					<div class="list-item-title" data-bind="text: name"></div>
					<div class="list-item-other" data-bind="text: startDate.displayFullDate()"></div>
					<div class="list-item-other" data-bind="text: startDate.displayFullTime()"></div>
					<div class="event-kind-tag" data-bind="text: kind.name, style: { color: kind.headerColor }"></div>
				</div>
				<div style="display:none;" class="event-block-container" data-bind="attr: { 'data-eventid': id }">
					<div class="event-block">
						@Html.Partial( "_LobbyEventInfo" )
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
