<div class="event-block-info-header" data-bind="style: { color: kind.headerColor }">
	<div style="float: left; padding: 10px; /*background: #BAB39D; */background: #B8A889; border-left: 2px solid #9D9784;">
		<span data-bind="text: kind.name"></span>
	</div>

	<div class="hour-date-label-container">
		<div class="hour-label">
			<span data-bind="text: startDate.formatZero( startDate.startHour )"></span><span>:</span><span data-bind="	text: startDate.formatZero( startDate.startMinute )"></span><span style="padding: 0 4px;"> - </span>
			<span data-bind="text: startDate.formatZero( startDate.endHour )"></span><span>:</span><span data-bind="	text: startDate.formatZero( startDate.endMinute )"></span>
		</div>
		<div class="date-label">
			<span data-bind="text: startDate.displayFullDate()"></span>
		</div>
		<div class="address-label" data-bind="if: ( address.city != '' && address.city != null )">
			<div data-bind="text: address.street"></div>
			<span data-bind="text: address.zipCode"></span><span data-bind="	text: ' ' + address.city"></span>
		</div>
	</div>
</div>
<div class="event-block-info-body">
	<div class="event-block-info-name">
		<span data-bind="text: name"></span>
	</div>
	<div class="event-block-info-description">
		<p data-bind="text: description"></p>
	</div>
	<div class="event-block-info-details">
		<p data-bind="text: details"></p>
	</div>
	<div data-bind="visible: price != 0 && price != ''" class="event-block-info-price">
		<div style="display: inline-block; width: 100px; font-size: .8em;">opłata za wstęp:</div>
		<span data-bind="text: price + 'zł.'"></span>
	</div>
	<div data-bind="visible: occupancyLimit != null && occupancyLimit != ''" class="event-block-info-occupancyLimit">
		<div style="display: inline-block; width: 100px; font-size: .8em;">limit miejsc:</div>
		<span data-bind="text: occupancyLimit"></span>
	</div>
	<div class="event-block-info-link">
		<p>
			<a data-bind="attr: { href: 'http://' + urlLink, title: name }, text: urlLink" target="_blank"></a>
		</p>
	</div>
	<div class="event-block-info-addedby">
		<div><span data-bind="text: addedBy"></span></div>
		<span data-bind="text: dateAdded.displayFullTime()"></span><span>&nbsp;&nbsp;</span><span data-bind="	text: dateAdded.displayFullDate()"></span>
	</div>

</div>
<div class="event-block-info-footer">
	<div data-bind="if: !isEventAddedToCurrentUserCalendar">
		<div data-bind="click: function () { $root.addPublicEventToMyCalendarOnClick( $element, id, startDate.year, startDate.month, startDate.day ) }" class="hover-cursor-pointer event-block-user-option" style="margin-bottom: 10px; border: 2px solid #E1DECF; border-right: none; border-radius: 3px; padding: 2px; padding-left: 10px; max-width: 250px;">
			<span>dodaj do mojego kalendarza +</span>
		</div>
	</div>
	<div data-bind="if: isEventAddedToCurrentUserCalendar">
		<div style="color: #67C767; padding-bottom: 10px; padding-left: 10px;">
			<span>dodane do mojego kalendarza ✓</span>
		</div>
	</div>
	<div data-bind="if: isCurrentUserSignedUpForEvent">
		<div style="margin-bottom: 10px; border: 2px solid #E1DECF; border-right: none; border-radius: 3px; padding: 2px; padding-left: 10px; max-width: 250px;">
			<span>zgłoszono chęć uczestnictwa w wydarzeniu ✓</span>
		</div>
	</div>
	<div data-bind="if: !isCurrentUserSignedUpForEvent">
		<div class="hover-cursor-pointer event-block-user-option" style="margin-bottom: 10px; border: 2px solid #E1DECF; border-right: none; border-radius: 3px; padding: 2px; padding-left: 10px; max-width: 250px;">
			<span>zgłaszam chęć uczestnictwa</span>
		</div>
	</div>
</div>


