<header class="dashboard-title">
	<span class="display-events-header-menu-title selected hover-cursor-pointer selected">Publiczne wydarzenia</span>
	<i class="btn-close md-icon-hover md-icon-rg mdi mdi-window-close" data-bind="click: $root.closeAllSelectedEventsListContainerOnClick"></i>
</header>
<div data-bind="with: $root.lobbyPage.upcomingEventsPart.eventListVM" class="display-events-overview-body">
	<div class="legend-oldorupcoming hover-cursor-pointer" data-bind="css: { open: menuItems.publicEvents.showOld() }, click: function () { menuItems.publicEvents.showOld( !menuItems.publicEvents.showOld() ), $root.showSelectedEvents( menuItems.publicEvents.selectedEvents, 'old', selectedEventKindValues ) }">
		<div class="legend-text">
			<span>stare</span>
			<span class="oldorupcoming-event-count" data-bind="text: menuItems.publicEvents.selectedEvents.old().length, visible: menuItems.publicEvents.showOld()"></span>
		</div>
		<span class="oldorupcoming-expand-text sm-hidden" data-bind="text: menuItems.publicEvents.showOld() == true ? '[zwiń]' : '[rozwiń]'"></span>
	</div>
	<ul class="event-list" data-bind="foreach: menuItems.publicEvents.selectedEvents.old">
		@Html.Partial( "_EventListItem", new ViewDataDictionary { { "page", "lobby" } } )
	</ul>
	<div class="legend-oldorupcoming hover-cursor-pointer" data-bind="css: { open: menuItems.publicEvents.showUpcoming() }, click: function ()
{
	menuItems.publicEvents.showUpcoming(
		   !menuItems.publicEvents.showUpcoming() ), $root.showSelectedEvents( menuItems.publicEvents.selectedEvents, 'upcoming', selectedEventKindValues )
}">
		<div class="legend-text">
			<span>nadchodzące</span>
			<span class="oldorupcoming-event-count" data-bind="text: menuItems.publicEvents.selectedEvents.upcoming().length, visible: menuItems.publicEvents.showUpcoming()"></span>
		</div>
		<span class="oldorupcoming-expand-text sm-hidden" data-bind="text: menuItems.publicEvents.showUpcoming() === true ? '[zwiń]' : '[rozwiń]'"></span>
	</div>
	<ul class="event-list" data-bind="foreach: menuItems.publicEvents.selectedEvents.upcoming">
		@Html.Partial( "_EventListItem", new ViewDataDictionary { { "page", "lobby" } } )
	</ul>
</div>

