<div id="lobbyUpcomingEventsPartBody" class="event-tiles-wrapper">
	<div class="lobby-menu-container" style="display:none;">
		<input type="button" value="Stwórz publiczne wydarzenie" id="addPublicEventBtn" class="btn-add hover-cursor-pointer" data-bind="click: function ( data, e ) { $root.showAddPublicEventPopupOnClick( $element, data, e ) }" />
	</div>
	@Html.Partial( "_UpcomingEventsPart.EventCountTiles" )

	<div id="lobbyDisplayEventsOverviewContainer" class="display-events-overview-container" data-bind="visible: $root.lobbyPage.upcomingEventsPart.eventListVM.isOpen()">
		@Html.Partial( "_UpcomingEventsPart.EventList" )
	</div>
</div>
