<section class="lobby-profile-menu">

		@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
  {
			@Html.AntiForgeryToken()
			<a href="javascript:document.getElementById('logoutForm').submit()">wyloguj</a>
  } <span style="font-size:.8em;">Zalogowany jako: </span><a class="login-text" href="#">@User.Identity.Name </a>


</section>

